{% extends "base-template.html" %} {% block content %}
<main>
  <section class="article-header adam">
    <div class="info">
      <a href="index.html#adam" class="article-home-button"><< home</a>
      <div class="article-type-container">
                ___  ___       
|__|  /\  |__/ |__  |__   |\/| 
|  | /~~\ |  \ |___ |___  |  | 
      __                       
 /\  |  \  /\   |\/|           
/~~\ |__/ /~~\  |  |           

      </div>

      <div class="col-text-body">
        <h3>Cult of the Blacksmith</h3>
        <h4>Part 1: A recipe for transformative technology</h4>
        <p>
          In this essay I pursue using audio and text in conjunction, to explore
          my fascination with the mysticism of West African metallurgy. I view
          this indigenous technology of refining and forging metals into tools,
          weapons and ornaments as a source of oral storytelling revealing some
          of the philosophies at the foundation of the belief systems of these
          civilisations. Through physical and oral forms, West African
          blacksmiths are able to communicate complex concepts of physical and
          metaphysical significance.
        </p>
        <p>
          The blacksmith in the mythology of the Mande of present-day Senegal
          for example is characterised as a healer possessing great knowledge of
          the plants linked to Mande life. The creation mythology of the Dogon
          of present-day Burkina Faso and the Fon of present-day Benin, both
          associate the origin of social order with the primordial smith sharing
          knowledge on material transformation through fire with mortal humans,
          allowing for the development of tools to build society. (Roberts &
          Berns, 2018)
        </p>
        <p>
          This, of course, is informed by a conceptualisation of life as part of
          a larger cosmic reality governed by supernatural forces and spirit.
          Through stories, poetry and song, we learn about these spirits
          existing in physical form as rivers and lakes, forests, geological
          figures such as caves, mountains and rock faces and other natural
          features.
        </p>
        <p>
          Interacting with nature is described in folklore as a sacred affair
          associated with consequence. Only those blessed with unnatural power,
          such as the blacksmith are able to justify interacting with nature as
          a creative, scientific and spiritual activity. The early blacksmith
          embodies societal concepts on innovation through technology as a
          product of understanding and relating to divine knowledge of the
          natural environment.
        </p>
        <p>
          In this body of work, I focus on the literary devices used in oral
          mythology on indigenous African metal technologies to construct
          meaning. Using similar metaphors and paradigms, I hope to construct
          and share my understanding of the complex concepts communicated by
          West African blacksmiths such as frameworks for engineering
          sustainable relationships with the natural environment, the role of
          technology in societal life and the depiction of creative spiritual
          practices.
        </p>

        <p>
          Roberts, A. F., & Berns, M. C. (2018). Striking Iron: The Art of
          African Blacksmiths. African Arts, 51(1), 66–85.
          <a href="https://doi.org/10.1162/afar_a_00393">https://doi.org/10.1162/afar_a_00393</a>
        </p>
      </div>
    </div>
    <div class="image-adams">
      <!-- <img src="images/test.png" /> -->
      <div class="article-image-container">
        <div class="audio-container">
          <audio controls>
            <source src="images/adam/part1.wav" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </section>

  <section class="article-header adam">
    <div class="info">
      <div class="col-text-body">
        <h4>Part 2: A Prayer to Nature Spirits</h4>
        <p>We used to worship our forest</br>
        We used to worship our rivers</br>

        We used to ask for their wisdom</br>
        We used to ask for their help</br>
      </p>

        <h5>Recommended reading:  </h5>

        <p>
          Dwamena, A. (n.d.). Field Notes | Nature, Spirit and Climate Change in
          Ghana.
          <a href="https://fieldnotes.nationalgeographic.org/expedition/alongthevoltainghana">https://fieldnotes.nationalgeographic.org/expedition/alongthevoltainghana</a>
        </p>

        <p>
          Awuah-Nyamekye, S. (2012). Belief in Sasa: Its Implications for Flora
          and Fauna Conservation in Ghana. Nature and Culture, 7(1), 1–15.
          <a href="https://doi.org/10.3167/nc.2012.070101">https://doi.org/10.3167/nc.2012.070101</a>
        </p>
      </div>
    </div>

    <div class="image-adams">
      <!-- <img src="images/test.png" /> -->
      <div class="article-image-container">
        <div class="audio-container">
          <audio controls>
            <source src="images/adam/part2.wav" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </section>

  <section class="article-header adam">
    <div class="info">
      <div class="col-text-body">
        <h4>Part 3: Simulating Creative Spiritual Practices</h4>
        <p>
          The work is presented as a series of audio snippets from a soundtrack,
          each with a unique caption. These snippets are culled from a large
          25-minute audio piece where I attempt to place the sampled sounds
          referencing non-industrial metalwork in affective proximity with each
          other. The samples include vignettes of recorded audio, referencing
          ingredients, activities and processes involved in forging metal.
        </p>

        <p>
          My goal was to simulate a blacksmith at work, using my captions to
          branch out at different steps in the process and present my reflection
          to the audience.
        </p>

        <p>
          The composition is sonically anchored by chord progression played as a
          slow mutating drone that consumes and recontextualizes samples of
          ores, sands, clays, stones, bellows, voices, etc. The drone as a sonic
          element, for example, represents the blacksmith fire, burning at pace
          and anchoring their process.
        </p>
      </div>
    </div>

    <div class="image-adams">
      <!-- <img src="images/test.png" /> -->
      <div class="article-image-container">
        <div class="audio-container">
          <audio controls>
            <source src="images/adam/part3.wav" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </section>

  <section class="article-header adam">
    <div class="info">
      <div class="col-text-body">
        <h4>Part 4: The Divine Smith</h4>
        <p>
          “The Dogon understand the perils and purposes of life through complex
          narratives describing the beginning of time when the Supreme Being
          Amma lived in the “Above” with proto-human beings called Nommo.
          According to a well-known account, one Nommo had the audacity to steal
          a piece of the sun from Amma in order to bring fire to Earth, a feat
          necessary to the inauguration of human culture. Infuriated by such
          hubris, Amma hurled lightning bolts after the fleeing Nommo, causing
          its ark to crash and leading to the dispersal of plants, animals, and
          humans across Dogon lands. This same Nommo became the first blacksmith
          of Dogon, mastering practical and arcane knowledge necessary for human
          survival. Dogon arts reflect such life-sustaining associations, as in
          one remarkable iron figure with arms raised in poignant prayer,
          perhaps to bring adequate rain.”
        </p>
        <p>
          Roberts, A. F., & Berns, M. C. (2018). Striking Iron: The Art of
          African Blacksmiths. African Arts, 51(1), 66–85.
          <a href="https://doi.org/10.1162/afar_a_00393">
            https://doi.org/10.1162/afar_a_00393
          </a>
        </p>
        <p>
          “The divine smith "invented" fire and the use of fire to change states
          of matter. He taught men agriculture and the domestication of animals.
          The interrelationship of the elements, air, water, fire, and earth, is
          crucial. But it is fire most of all that expresses the "magic" of
          metallurgy. It changes nature. It speeds up natural processes,
          compressing millennia into moments. And so the divine smith controls
          time. Fire in African cosmology symbolises spiritual existence, the
          incarnation of the sacred, and the closeness of the divine.”
        </p>

        <p>
          Richards, D. (1981). The Nyama of the Blacksmith: The Metaphysical
          Significance of Metallurgy in Africa. Journal of Black Studies, 12(2),
          218–238. <a href="http://www.jstor.org/stable/2784243">http://www.jstor.org/stable/2784243</a>
        </p>
      </div>
    </div>

    <div class="image-adams">
      <!-- <img src="images/test.png" /> -->
      <div class="article-image-container">
        <div class="audio-container">
          <audio controls>
            <source src="images/adam/part4.wav" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </section>

  <section class="article-header adam">
    <div class="info">
      <div class="col-text-body">
        <h4>Part 5: Fire + Change</h4>
        <p>
          Fire is the architect of change, causing the furnace to burble and
          crackle, the wood and coal to shriek and crumble, and the ore to ping
          when struck. It facilitates the recontextualization of elements of
          nature into productive forms.
        </p>

        <p>
          In contemporary music production, sampling as a technology similarly
          allows composers to contextualise existing pieces of music by
          destructively reorganising waveforms. This enables the invention of
          new sonic structures as an alternate expression of the original piece
          of music.
        </p>

        <p>
          Sampling can be a bridge to a specific time, a reference to a
          particular place, idea or feeling. Sampling as a narrative element in
          music production enforces the fluidity of sound to bend and deform to
          accommodate the intangible emotions we seek to express through sound.
        </p>
      </div>
    </div>

    <div class="image-adams">
      <!-- <img src="images/test.png" /> -->
      <div class="article-image-container">
        <div class="audio-container">
          <audio controls>
            <source src="images/adam/part5.wav" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </section>

  <section class="article-header adam">
    <div class="info">
      <div class="col-text-body">
        <h4>Part 6: A few of my favourite trees</h4>
        <p>
          Citrus and acacia
          <br />
          Kola and mango
          <br />
          Maize and cassava
          <br />
          Mahogany and beech
          <br />
          Tamarind and iron wood
          <br />
        </p>
      </div>
    </div>

    <div class="image-adams">
      <!-- <img src="images/test.png" /> -->
      <div class="article-image-container">
        <div class="audio-container">
          <audio controls>
            <source src="images/adam/part6.wav" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </section>

  <section class="article-header adam">
    <div class="info">
      <div class="col-text-body">
        <h4>Part 7: Maintaining the Forest</h4>
        <p>
          The first ingredient for any good fire is good fuel. The blacksmith is
          interested in relatively abundant and quick-growing species of
          woodland plants to fuel their pursuit of a consistent fire, burning
          with minimal smoke and consistency to turn black sand into the colour
          of the sun.
        </p>
        <p>
          Fuel is precious and replenished by clearing the older trees at the
          end of their lives, already drying up inside and easier to burn.
        </p>
        <p>
          The West African woodlands are connected to life through mysticism as
          most things are with permission sought through ritual practice to
          appease the spirits of the trees. The wood harvested to begin the
          blacksmith's pursuit is religiously managed.
        </p>
        <p>The first ingredient for any good fire is fuel you can sustain.</p>
      </div>
    </div>

    <div class="image-adams">
      <!-- <img src="images/test.png" /> -->
      <div class="article-image-container">
        <div class="audio-container">
          <audio controls>
            <source src="images/adam/part7.wav" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </section>

  <section class="article-header adam">
    <div class="info">
      <div class="col-text-body">
        <h4>Part 8: Turning Black Sand into the Colour of the Sun</h4>
        <p>
          Metaphors and sampling as narrative devices in written or oral
          communication both allow for fluidity of expression. Metaphors express
          thought in approachable and considerable forms bending truth beyond
          literal understanding. In West African oral literature, the
          blacksmiths are cast in celestial mystical realms, elevating their
          pursuit to a spiritual act.
        </p>
        <p>
          This transfiguration of material processes embeds a sense of reverence
          and respect into the materials and process facilitating metalwork.
          These materials are often personalised and described with life-like
          attributes, making their sacrifice in the process of forging more
          considered and costly.
        </p>
        <p>
          The Blacksmith’s fire, as a person and as narrative device, offers a
          recipe for turning black sand into the colour of the sun, without
          turning everything else grey.
        </p>
      </div>
    </div>

    <div class="image-adams">
      <!-- <img src="images/test.png" /> -->
      <div class="article-image-container">
        <div class="audio-container">
          <audio controls>
            <source src="images/adam/part8.wav" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
</main>
