{% extends "base-template.html" %} {% block content %}
<main>
  <section class="article-header">
    <div class="info">
      <a href="index.html" class="article-home-button"><< home</a>
      <div class="article-type-container">
 ___      __        __   __          __              
|__  \_/ |__) |    /  \ |__) | |\ | / _`             
|___ / \ |    |___ \__/ |  \ | | \| \__>                                                                      
       ___  ___              __   ___       __   ___ 
| |\ |  |  |__  |    |    | / _` |__  |\ | /  ` |__  
| | \|  |  |___ |___ |___ | \__> |___ | \| \__, |___ 
  
    </div>
                           
      <div class="col-text-body">
        <ul>
         
          <li>
            <a href="index.html#dick">Artificial Intelligence</a>
            by Stephanie Dick
          </li>
          <li>
            <a href="index.html#parrish">Solar Powered Dawn Poems</a>
            by Allison Parrish
          </li>
          <li>
            <a href="index.html#lucasmckay">Peckish</a>
            by Kristin Lucas and Joe McKay
          </li>

        </ul>
      </div>
    </div>

  </section>


{% endblock %}
