{% extends "base-template.html" %} {% block content %}
<main>
  <section class="article-header">
    <div class="info">
      <a href="index.html" class="article-home-button"><< home</a>
      <div class="article-type-container">
                         ___  ___  __          ___       __  
 /\  |    |       | |\ |  |  |__  |__) \  / | |__  |  | /__` 
/~~\ |___ |___    | | \|  |  |___ |  \  \/  | |___ |/\| .__/   
    </div>
                           
      <div class="col-text-body">
        <ul>
          
          <li>
            <a href="index.html#motaghy">Net/Work: Conversations on Server Stewardship</a>
            by Mark Anthony Hernandez Motaghy
          </li>
          <li><a href="index.html#wamburu">Questions of Stewardship, Intermittency and Low Bandwidth Gaming.</a> An interview with Solar Protocol steward Denzel Wamburu.</li>

         
        </ul>
      </div>
    </div>

  </section>


{% endblock %}
