{% extends "base-template.html" %} {% block content %}
<main>
  <section class="article-header">
    <div class="info">
      <a href="index.html" class="article-home-button"><< home</a>
      <div class="article-type-container">
 ___      __        __   __          __     
|__  \_/ |__) |    /  \ |__) | |\ | / _`    
|___ / \ |    |___ \__/ |  \ | | \| \__>                                               
               ___  __                      
|    |  |\/| |  |  /__`                     
|___ |  |  | |  |  .__/                                                            
      </div>

      <div class="col-text-body">
        <ul>
          <li><a href="index.html#pipkin">Drift Mine Satellite</a> by Everest Pipkin</li>
          <li>
            <a href="index.html#vasudevan">Rhythm of Access</a>
            by Roopa Vasudevan
          </li>
          <li>
            <a href="index.html#parrish">Solar Powered Dawn Poems</a>
            by Allison Parrish
          </li>
          <li>
            <a href="index.html#ash">
              Should Data Expire?
            </a>
            by honor ash
          </li>
        </ul>
      </div>
    </div>

  </section>


{% endblock %}
