{% extends "base-template.html" %} {% block content %}
<main>
  <section class="desktop-header">
    <div class="info">
      <a href="index.html#pasek" class="article-home-button"><< home</a>
      <div class="article-type-container">
                 ___     __        __   ___      
  /\  |\ | |\ | |__     |__)  /\  /__` |__  |__/ 
 /~~\ | \| | \| |___    |    /~~\ .__/ |___ |  \                                       
           </div>

      <div class="col-text-body">
        <h3>On Being Anxious About Digital Carbon Emissions</h3>

        <p><i>A version of this piece will be published in a Social Media & Society’s 2K section entitled “What’s the climate crisis got to do with communication?”</i></p>

          <p>I was recently asked to discuss the ‘backstages’ of my research process. The prompt was a good one: there’s a lot of tangents, doubts, and tools that get hidden from the ‘frontstages’ of talks and publications—academics generally don’t like to show off their messes and mistakes. I, however, was increasingly keen to. I’ve lately begun to wonder about an emerging set of emotions and gestures that seem to be an inexorable part of working on the climate impacts of digital media. After all, we’re often stuck critiquing the very digital stages on which we are speaking, whether that’s Zoom, data centre archives, or the servers that host our words. It can make you feel like a cartoon character on a plank suspended over a cliff, sawing through the wood you’re standing on. The results can be both awkward and illuminating.
          </p>

          <p>Let me start by painting a few scenes. In the first, I’m about to launch into a multi-day online workshop
            on information and communications technologies (ICT), art, and climate justice. The goal is to bring a group
            of technologists and media artists together to explore how the arts and tech sectors are currently
            imbricated—and might be reconfigured in future—as part of <a
              href="https://sunlightdoesntneedapipeline.com/2022/08/17/digital-decarbonisation-consensus-conjectures/">a
              wider decarbonization plan</a> made for and by art
            workers. My job is to summarize and organize months of research from a winding set of empirical and
            interpretive fields. I have an extensive set of infographics and statistics to share, detailing the carbon
            footprint of everything from sending an email (as little as 4 grams (Richards, 2018)) to running the entire
            bitcoin network (up to 46.72 Mt/year—equivalent to the nation of Finland (<em>Bitcoin Energy Consumption
              Index</em>,
            n.d.)). The ICT sector’s climate emissions are, I will soon urge, an urgent problem. Effectively addressing
            them will mean disrupting the aesthetic and operational norms of some of the largest corporations on earth.
          </p>

          <p>But first: a self-reflexive gesture. In addition to the usual land acknowledgement (a ritual common to us
            in Canada that details the treaties and First Nations of the territories on which we are gathered) I also
            attempt to chart the digital and energy infrastructures involved in our transatlantic Zoom call. Here, I
            show, are the Equinix data centers, the power plants, uranium mines, and unanswered environmental harms that
            play a role in our meeting today. Let’s acknowledge them too. We are all meeting and living inside the frame
            of the problem.
          </p>

          <p>I probably don’t do a terribly good job of the whole thing; I run a little long and overly didactic with an
            audience I’ve only just met. At the end, a participant jokes that, if Zoom isn’t as green as we thought,
            maybe we shouldn’t be meeting at all. I laugh and grimace at the same time. I can see how the joke defuses
            some of the tension I’ve built, even though it isn’t the conclusion any of us particularly want to come to.
          </p>

          <p id="#11">A year prior, I’m running an online lecture series with a network of scholars I’ve invited to think with me
            about the climate impacts of our research methods. <a href="#1">[1]</a> Again, I get ahead of myself and the speakers. I
            suggest that, in light of the problem of sprawling data centers, there is a need for mitigating actions
            right here in our virtual room. These are partly social: I urge my participants to turn off their video when
            they aren’t talking, stressing that this will “reduce the carbon intensity of the endeavour.” Others are
            more personal and infrastructural: I will later take the video recording (stored <em>locally</em>, not on
            the cloud)
            and compress it to near oblivion in order to make it small enough to fit onto an SD card loaded in a
            raspberry pi powered by a solar panel in my backyard. This low-tech, low-energy server is itself an
            experiment (perhaps also a provocation?) in climate-conscious digital research infrastructure (Brain et al.,
            2022). There are insights to be had, I hope, by trying to operate within its stubborn constraints: no
            YouTube, no institutional repository, no placeless cornucopia of computing (Abbing, 2021). Instead, I have
            just 64 GB of space and a highly variable and weather-dependent amount of uptime. Even so, the boundaries of
            this setup aren’t totally clear to me yet, so I insist on the most visually limited and data-austere
            approach. I compress the video a second time. The blaringly large pixels, I hope, will signify.
          </p>

          <p>I am in these moments, I know, being a little weird—maybe also a little extra. I am trying to achieve both
            pragmatic and constitutive ends: to reduce, in some small way, the carbon footprint of our online
            gatherings, and also to frame this question as a problem worthy of individual experiment and collective
            concern. I might also simply be annoying. Some colleagues have asked me for my slides and scripts around
            these moments of digital acknowledgement so that they can mirror—or at least further contemplate—these
            communicative moves. Others, no doubt, happily shuffle on to the next Zoom talk where the social rituals of
            speaking and listening online are simpler.
          </p>

          <p>Weird though I am, I am not alone. There is a growing number of us compelled towards these experiments with
            and critiques of our means of digital communication. I know of colleagues slipping notes into their syllabi
            detailing the human and climate costs of cloud streaming (Hilderbrand, 2020). Others have launched
            climate-conscious digital film festivals (Marks & Przedpełski, 2021), Mastodon instances (Laser et al.,
            2022), and websites (De Decker, 2019; Landa, 2021), all with demonstrably different material and aesthetic
            modes of sensing and shifting our data-energy relations. Together we seem to be caught up in something quite
            similar to what Hannah Knox (2020) observes in her study of climate scientists and civic activists: climate
            is not an external and static problem here, but rather one in which our thoughts, gestures, and methods are
            thoroughly entangled (and signifying!) within the fields we’re trying to study. The results can be a little
            noisy and self-referential. The backstage and frontstage distinction gets burry.
          </p>

          <p>This impulse to do something, even just to place ourselves inside the physical movements of the problems we
            study, seems a logical extension of the material turn wending its way through the theoretical tools of our
            many allied fields. More and more colleagues are thinking through the economic and environmental impacts of
            communication by way of the watersheds, coal ash, and dissipating heat imbricated in the data centres that
            power the Internet and its many clouds (Hogan, 2015; Pasek, 2019; Velkova, 2016). This requires an
            orientation towards the infrastructural—stuff that you can kick, as Lisa Parks (2014) aptly summarizes. It
            can also make for rather depressing reading, with far more problems than solutions mustering across our
            warming world. It makes sense that, after stewing in it long enough, you might want to actually kick
            something.
          </p>

          <p>This points to the unignorably emotional aspect of doing this work: we all seem to carry a fair bit of
            anxiety with us (or at least, I certainly do). This is common enough to climate work in general. The vast
            asymmetries between the scales of action we need to prevent future immiserations and the state of these
            efforts in the present can be a little maddening. The seeming apathy of others, and the inertia of our
            social arrangements, are a further source of agitation (Ray, 2020). The meteoric rise of video conferencing
            over the past three years, combined with the sundry stresses and loneliness of the pandemic, surely deepened
            this angst just as it raised the stakes of the problem.
          </p>

          <p>I wonder if the ethos of acknowledgement that runs across so many of these digital decarbonization gestures
            is also, at least to some degree, a bid for social recognition. Could our communication be phatic in some
            small way? Are we looking for others to affirm that they too are anxious? I’d be lying if I said this
            dynamic wasn’t at play in some of my many experiments.
          </p>

          <p>My feelings about these practices have grown more complicated over time. Certainly, less justified bids for
            attention have been made in the strange social milieu of academia. Even so, I fear that there are potential
            hazards at play. Beyond merely annoying my audience, I might also mislead them.
          </p>

          <p>This is at once an empirical question. If I only kick at the closest parts of our entwined digital and
            climate systems, I won’t present a very accurate depiction of their total shapes. Quantitative research on
            the environmental impacts of ICT is less certain than some communications researchers often presume and it
            isn’t terribly well captured by attempts to measure discrete, individual actions (Pasek et al., 2023). My
            injunction to my Zoom audience to turn off their cameras, for instance, ignores the fact that the carbon
            intensity of digital streaming doesn’t neatly scale with the amount of data passing through network
            infrastructures. Transmission equipment, data centres, ISP operations, and home routers are more or less
            always on, drawing the same amount of electricity regardless of consumer use (Ericsson IndustryLab, 2020).
            Our gesture, ultimately, didn’t achieve that much. I was incorrect to presume (and instruct!) that it did.
          </p>

          <p>A further risk lies in how these statements configure the terms of apprehensible political work. Here the
            trap is to assume that individual consumer behaviours are the best, or only, starting place for
            environmental politics. It’s a tale as old as (white) environmentalism, and it’s an enduring barrier to
            building the coalitions and emotional resilience we need to take on both big oil and big tech. The
            on-the-ground fights against data infrastructures and their energy demands (Bresnihan & Brodie, 2020) are
            much more exciting than my exhortation to store fewer files in the cloud.
          </p>

          <p id="#22">That said, I am not abandoning my material and social experiments in low-carbon digital communications, nor
            do I want to conclude that the sum of such efforts has been negative. Instead, I’ve come to see the value of
            these practices in the emotional and epistemic dividends they offer, beyond a narrow accounting of avoided
            emissions. Building experimental infrastructure has been good for me: it’s forced a rapid education in the
            mechanics of Linux command line, html coding, and server configurations, bringing me closer to the material
            and mechanical stuff of computation. These lessons lend pragmatic optimism to my questions about how digital
            networks could be otherwise configured (see also Lison, 2022). At times I find myself wondering if this
            could be an infrastructural equivalent to the civic upskilling effects others are finding in volunteer
            social media moderation (Zuckerman, 2022). Perhaps these are classrooms for many future, undetermined ends.
            At other moments, I’m content to simply have small rituals of care I can offer up to a burning world:
            brushing snow off a solar panel, updating my DNS information after a prolonged period offline, or dithering
            another image. <a href="#2">[2]</a> To quote a fellow traveler in the world of solar-powered websites, “The practical
            elements give me more joy than when merely focusing on theory” (Landa, 2021). Joy, I believe, is worth
            building into our research methods.
          </p>

          <p>But what should we ultimately do about the climate impacts of digital media? My answer to my workshop
            participants last fall, and to you now, is that there are many directions to explore: none definitive, yet
            some with more potential than others. I’ve personally found clarity in Mél Hogan’s concept of the ‘data
            center industrial complex,’ which argues that the drivers of ICT expansion reify assumptions about the need
            for growth more than discrete consumer behaviours in and of themselves (Hogan, 2021, p. 284). This helps me
            to ask new questions: What can we do to prevent the next data center from being built? How might degrowth
            provide a hermeneutic for digital communication systems built around equity, rather than green austerity
            (Abbing, 2021)? The move from anxious acknowledgment to material practice is a sustaining one.
          </p>

          <h4>Notes</h4>
          <ul>
            <li id="1"><a href="#11">1</a>. You can find us at <a href="http://lowcarbonmethods.com/">http://lowcarbonmethods.com/</a>, at least
              when our server is up.
            </li>
            <li id ="2"><a href="#22">2</a>. Dithering is a digital equivalent to halftone printing; it uses compression algorithms to achieve an
              illusion of depth with limited colour information. The result is (charmingly) speckled and grainy. Many
              solar/low-powered websites use it as a means to reduce page sizes.
            </li>
          </ul>

          <h4>References</h4>
          <ul>
            <li>
            Abbing, R. R. (2021). ‘This is a solar-powered website, which means it sometimes goes offline’: A design
            inquiry into degrowth and ICT. <em>LIMITS: Workshop on Computing within Limits.</em>
            <a href="https://doi.org/10.21428/bf6fb269.e78d19f6">https://doi.org/10.21428/bf6fb269.e78d19f6</a>
            </li>

            <li><em>Bitcoin Energy Consumption Index.</em> (n.d.). Digiconomist. Retrieved February 3, 2023, from
              <a
                href="https://digiconomist.net/bitcoin-energy-consumption/">https://digiconomist.net/bitcoin-energy-consumption/</a>
            </li>

            <li>Brain, T., Nathanson, A., & Piantella, B. (2022). Solar Protocol: Exploring Energy-Centered Design.
              <em>Eighth
                Workshop on Computing within Limits 2022,</em> 7.
              <a
                href="https://computingwithinlimits.org/2022/papers/limits22-final-Brain.pdf">https://computingwithinlimits.org/2022/papers/limits22-final-Brain.pdf</a>
            </li>

            <li>Bresnihan, P., & Brodie, P. (2020). New extractive frontiers in Ireland and the moebius strip of
              wind/data.
              <em>Environment and Planning E: Nature and Space,</em> 2514848620970121. <a
                href="https://doi.org/10.1177/2514848620970121">https://doi.org/10.1177/2514848620970121</a>
            </li>

            <li>De Decker, K. (2019, July 17). <em>Solar Powered Website Design.</em> LOW←TECH MAGAZINE.
              <a href="https://solar.lowtechmagazine.com">https://solar.lowtechmagazine.com</a>
            </li>

            <li>Ericsson IndustryLab. (2020, February 4). <em>Digital carbon footprint.</em> Ericsson.
              <a
                href="https://www.ericsson.com/en/news/2020/1/digital-carbon-footprint">https://www.ericsson.com/en/news/2020/1/digital-carbon-footprint</a>
            </li>

            <li>Hilderbrand, L. (2020). Cinema and Media Pedagogy in the Streaming Era. <em>Media+Environment,
                2</em>(1).
              <a href="https://doi.org/10.1525/001c.17242">https://doi.org/10.1525/001c.17242</a>
            </li>

            <li>Hogan, M. (2015). Data flows and water woes: The Utah Data Center. <em>Big Data & Society, 2</em>(2),
              1–12.
              <a
                href="http://journals.sagepub.com/doi/abs/10.1177/2053951715592429">http://journals.sagepub.com/doi/abs/10.1177/2053951715592429</a>
            </li>

            <li>Hogan, M. (2021). The Data Center Industrial Complex. In M. Jue & R. Ruiz (Eds.), <em>Saturation an
                elemental
                politics</em> (pp. 283–305). Duke University Press.
            </li>

            <li>Knox, H. (2020). <em>Thinking like a climate: Governing a city in times of environmental change.</em>
              Duke
              University Press.
            </li>

            <li>Landa, L. (2021, August 21). Ecological Thought and Digital Technology What can be learned by following
              a
              “hands-on” approach to sustainable IT? <em>ETHOS Lab.</em>
              <a
                href="https://ethos.itu.dk/ecological-thought-and-digital-technology-what-can-be-learned-by-following-a-hands-on-approach-to-sustainable-it/">https://ethos.itu.dk/ecological-thought-and-digital-technology-what-can-be-learned-by-following-a-hands-on-approach-to-sustainable-it/</a>
            </li>

            <li>Laser, S., Pasek, A., Sørensen, E., Hogan, M., Ojala, M., Fehrenbacher, J., Hepach, M., Celik, L., &
              Ravi
              Kumar, K. (2022). The environmental footprint of social media hosting: Tinkering with Mastodon. <em>EASST,
                41</em>(3).
              <a
                href="https://www.easst.net/article/the-environmental-footprint-of-social-media-hosting-tinkering-with-mastodon/">https://www.easst.net/article/the-environmental-footprint-of-social-media-hosting-tinkering-with-mastodon/</a>
            </li>

            <li>Lison, A. (2022). Minimal Computing. <em>Counter-N.</em> <a
                href="https://doi.org/10.18452/25607">https://doi.org/10.18452/25607</a>
            </li>

            <li>Marks, L. U., & Przedpełski, R. (2021, April 13). Bandwidth Imperialism and Small-File Media.
              <em>Post45.</em>
              <a
                href="https://post45.org/2021/04/bandwidth-imperialism-and-small-file-media/">https://post45.org/2021/04/bandwidth-imperialism-and-small-file-media/</a>
            </li>

            <li>Parks, L. (2014). Stuff You Can Kick: Toward a Theory of Media Infrastructure. In D. T. Goldberg & P.
              Svensson (Eds.), <em>Humanities and the Digital</em> (pp. 355–373). MIT Press.
            </li>

            <li>Pasek, A. (2019). Managing Carbon and Data Flows: Fungible Forms of Mediation in the Cloud. <em>Culture
                Machine,</em> 18. <a
                href="http://culturemachine.net/vol-18-the-nature-of-data-centers/managing-carbon/">http://culturemachine.net/vol-18-the-nature-of-data-centers/managing-carbon/</a>
            </li>

            <li>Pasek, A., Vaughan, H., & Starosielski, N. (2023). The World Wide Web of Carbon: Towards a Relational
              Footprinting of ICT’s Climate Impacts. <em>Big Data & Society,</em> In Press.
              DOI:10.1177/20539517231158994
            </li>

            <li>Ray, S. J. (2020). <em>A field guide to climate anxiety: How to keep your cool on a warming planet.</em>
              University
              of California Press. <a
                href="https://www.degruyter.com/isbn/9780520974722">https://www.degruyter.com/isbn/9780520974722</a>
            </li>

            <li>Richards, L. (2018, February 23). <em>The Carbon Cost of an Email—The Carbon Literacy Project.</em> The
              Carbon
              Literacy Project. <a
                href="https://carbonliteracy.com/the-carbon-cost-of-an-email-2/">https://carbonliteracy.com/the-carbon-cost-of-an-email-2/</a>
            </li>

            <li>Velkova, J. (2016). Data that warms: Waste heat, infrastructural convergence and the computation traffic
              commodity. <em>Big Data & Society, 3</em>(2).
            </li>

            <li>Zuckerman, E. (2022). How social media could teach us to be better citizens. <em>Journal of E-Learning
                and
                Knowledge Society, 18</em>(3), 36–41. <a
                href="https://doi.org/10.20368/1971-8829/1135818">https://doi.org/10.20368/1971-8829/1135818</a>
            </li>
            </ul>
      </div>
    </div>

    
  </section>


{% endblock %}
