{% extends "base-template.html" %} {% block content %}
<main>
  <section class="desktop-header">
    <div class="info">
      <a href="index.html" class="article-home-button"><< home</a>
      <div class="article-type-container">
         __    ___           ___  ___  __        ___  __   __     
        /__` |  |  |  |  /\   |  |__  |  \ |\ | |__  /__` /__`    
        .__/ |  |  \__/ /~~\  |  |___ |__/ | \| |___ .__/ .__/ 
      </div>

      <div class="col-text-body">
        <ul>
          <li>
            <a href="index.html#adam">The Cult of the Blacksmith</a>
            by Hakeem Adam
          </li>
          <li>
            <a href="index.html#sutherland">Solar Data Explorer</a>
            by Brian Sutherland
          </li>

          <li>
            <a href="index.html#devalk">Rosa's Ecofeminist Dictionary (RED)</a>
            by Marloes de Valk
          </li>
          <li>
            <a href="index.html#zhang">Open Garden</a>
            by Alice Yuan Zhang 张元
          </li>
          <li>
            <a href="index.html#motaghy">On Hosting</a>
            by Mark Anthony Hernandez Motaghy
          </li>
          <li>
            <a href="index.html#lenz">Refiguring the Cloud</a>
            by Felix Lenz
          </li>
        </ul>
      </div>
    </div>
  </section>

  {% endblock %}
</main>
