{% extends "base-template.html" %} {% block content %}
<main>
  <section class="desktop-header">
    <div class="info">
      <a href="index.html" class="article-home-button"><< home</a>
      <div class="article-type-container">
  __                   ___    ___  __      __   ___    
/  \ |  |  /\  |    |  |  | |__  /__`    /  \ |__     
\__X \__/ /~~\ |___ |  |  | |___ .__/    \__/ |       
  __   __             __      __   __        ___  __   
/__` /  \ |     /\  |__)    |__) /  \ |  | |__  |__)  
.__/ \__/ |___ /~~\ |  \    |    \__/ |/\| |___ |  \  

      </div>

      <div class="col-text-body">
        <ul>
          <li>
            <a href="index.html#parrish">Solar Powered Dawn Poems</a>
            by Allison Parrish
          </li>
          <li>
            <a href="index.html#vasudevan">Rhythm of Access</a>
            by Roopa Vasudevan
          </li>
          <li>
            <a href="index.html#sutherland">Solar Data Explorer</a>
            by Brian Sutherland
          </li>
          <li>
            <a href="index.html#lenz">Refiguring the Cloud</a>
            by Felix Lenz
          </li>
          <li>
            <a href="index.html#motaghy">Net/Work: Conversations on Stewardship</a>
            by Mark Anthony Hernandez Motaghy
          </li>
        </ul>
      </div>
    </div>

  </section>

  {% endblock %}
</main>
