{% extends "base-template.html" %} {% block content %}
<main>
  <section class="desktop-header">
    <div class="info" style="width:auto">
      <a href="index.html#zhang" class="article-home-button"><< home</a>
      <div class="body-type-container">
             __  ____
 /\  |    | /  ` |__     
/~~\ |___ | \__, |___   
                                                          
\ / |  |  /\  |\ |       
 |  \__/ /~~\ | \|                               
 __                 __    
  / |__|  /\  |\ | / _`   
 /_ |  | /~~\ | \| \__> 
      </div>
      <div class="col-text-body">
      <h3>Open Garden</h3>

      <div class="fullwidth">
        <video width="100%" controls style="width:100%">
          <source src="images/zhang.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </br>
    </br> </br>

    <h5>Credits</h5>
    <p>"Open Garden" was developed by Alice Yuan Zhang during her residency with CultureHub, and performed for Re-Fest 2021: Re-Circulation. Bhavik Singh provided technical guidance and wrote an overview on the project's <a href="https://bhavik-singh.notion.site/Open-Garden-Decentralization-25ea15761d884edf964d10c0fbc4c3bd">decentralization process</a>. The project's website was developed in collaboration with Tong Wu and Bhavik Singh, featuring daytime and nighttime soundscapes designed by Alexander Babbitt. </p>
  </div>
     
</div>
</div>
  </section>

  {% endblock %}
</main>
