RewriteEngine on

# This redirects requests as a query string for a php script
# RewriteRule ^local/(.*)$ /api/v1/$1 [R=301,NC,L]

# REDIRECT TO LOCAL DIRECTORY
# for images
RewriteCond %{REQUEST_URI} \.(jpg|jpeg|png|gif)$
RewriteRule ^local/(.*)$ /redirect/images.php?file=$1

#RewriteRule ^local/(.*)$ /redirect/www.php?file=$1

# This redirects for user pages
#RewriteRule ^user/(.*)$ /api/v1/local.php?user=$1
