RewriteEngine on

# REDIRECT TO LOCAL DIRECTORY
# for images
RewriteCond %{REQUEST_URI} \.(jpg|jpeg|png|gif)$
RewriteRule ^local/(.*)$ /redirect/images.php?file=$1

#for html and css files
RewriteCond %{REQUEST_URI} \.(html|css)$
RewriteRule ^local/(.*)$ /redirect/www.php?file=$1

#for local www root
RewriteRule ^local/$ /redirect/www.php?file=index.html

#add trailing / on www root url
RewriteCond %{REQUEST_URI} !(/$|\.) 
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L] 

# NICE URL FOR STEWARD PAGES
# This redirects for user pages - not working yet
#RewriteRule ^network/(.*)$ /api/v1/local.php?network=$1
