/*Tega*/

:root {
  --server-text-color:white;
  --bg-color:coral;
  --link-color:white;
  --link-over:black;
}


/*ALEX*/
/*
:root {
  --server-text-color:white;
  --bg-color:Teal;
  --link-color:white;
  --link-over:black;
}
*/

/*BENNY*/
/*
:root {
  --server-text-color:black;
  --bg-color: MediumSpringGreen;
  --link-color :black;
  --link-over:white;
}
*/


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  line-height: 1.4;
}

h1{
  font-size: 5em;
  font-weight: normal;
  margin: 0;
}

h2{
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  padding-bottom: 1em;
}

h3{
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;

  font-style: italic;
}

h4{
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


a {
  text-decoration: none;
  color: var(--link-color);
  background-color: var(--bg-color);

}

a:hover {
  color: var(--link-over);
  background-color: var(--bg-color);
}

ul {
  font-size: 1.2em;
  line-height: 1.4;

}

.first-container {
  margin-top: 40px;
}

.server-container {
  background-color: var(--bg-color);
  width: 100%;
  display: block;
  position: fixed;
  background-color: var(--bg-color);
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.server-container p {
  font-size: 0.8em;
  padding: 0% 5% 0% 5%;

}

  
.text-container {
  background-color: white;
  max-width: 800px;
  margin: auto;
  /* border: 1px solid red; */
  padding: 20px;
}

.image-container {
  background: black;
}

.image-container img {
  width: 100%;
  display: block;
}

.pagetitle {
  text-align: center;
  color: #ffffff;
}

.caption {
  text-align: center;
  font-size: 1em;
  margin-top: -15px;
  
}

.notes p {
  font-size: 1em;
  font-style: italic;
}


img.halfwidth {
  width: 50%;
  margin: auto;
}

sup {
  font-size: 0.6em;

}

.hostlog {
  column-count: 2;
}

.hostlog p {

  margin: 0;
  margin-left:50px;
  font-size: 0.9em;
}

/* Dashed red border */
hr.p {
  border: 0.5px solid grey;
}

footer {

  text-align: left;
  font-size: 0.8em;
  padding: 3px;
  background-color:white;
  color:var(--server-text-color);
  border-top: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}


/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

.left, .right {
  width: 24%;
  margin: 0.5%;
  background-color: white;
  color: black;
}

.column h2{
  text-transform: uppercase;
  font-size: 15px;
  
}

.column p{
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 0px;

}

.middle-left {
  width: 24%;
  margin: 0.5%;
  color: black;
}
.middle-right {
  width: 23%;
  margin: 0.5%;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}