* {
  box-sizing: border-box;
  margin:0px;
}

.column-header {
  float: left;
  padding: 0 0 0 10px;

}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 30%;
}
.menu-icons {
    font-size: 25px;
}

.right {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* text style  */
h7 {
  font-weight: bold;
  text-decoration: underline;
}


.nav-menu {
  color:black;
}

a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
  background: white;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

li {
  color:black;
  background: white;
	display: block;
	float: left;
	padding: 0.5rem;
	position: relative;
	text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color:black;
}

li:hover,
li:focus-within {
	background: #ccc;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
	background:white;
	visibility: hidden;
  opacity: 0;
  min-width: 10rem;
	position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
	left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
	clear: both;
  width: 100%;
}