:root {
  --header-width: 25%;
  --nav-width: 5%;
  --content-width: 70%;
  --vertical-padding: 15px;
  --horizontal-padding: 15px;
  --horizontal-text-padding: 30px;
  --vertical-margin: 5px;
  --horizontal-margin: 5px;
  --b: rgb(0, 21, 138);
  --text-size: 1.125rem;
  --line-height: 1.4;
  --bgcolor: #000;
  --textcolor: white;
  --text-background: rgb(230, 230, 230);
  --serverDataLeft: 150px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-size: calc(var(--text-size) * 1.2);
}

.meter {
  /* height: 65%;  <em>Can be anything </em> */
  position: relative;
  /* background: rgb1(0,0,0,0.4); */
  border-radius: 3px;
  /* border: solid white 1px; */
  /* padding: 10px; */
  /* box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); */
}
.meter > span {
  display: block;
  /* height: 100%; */
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0px 0px 0px 4px;
  border: solid lightgray 1px;
  margin-left: -4px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

nav {
  width: var(--nav-width);
  top: 0;
  color: var(--textcolor);
  padding: 10px 0px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: fixed;
  z-index: 999;
  right: 0px;
  background-color: black;
  font-size: calc(var(--text-size) * 1.2);
}

nav h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: calc(var(--text-size));
}

nav p {
  padding: 0px;
  margin: 0px;
}

.no-bullets li {
  /* margin: 0 5px; */

  display: inline;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  padding-left: 0.05em;
  text-align: end;
  flex: 1 0 40%;
}

nav a {
  color: var(--textcolor);
}
nav a:hover {
  text-decoration: none;
  /* border-top: 1px white solid; */
}
.container {
  /* max-width: calc(var(--header-width) + var(--content-width)); */
  margin: 0px auto;
  display: flex;

  /* margin-top: 50px; */
}

header {
  border-right: 2px solid rgb(27, 27, 27);
  display: var(--text-size);
  width: var(--header-width);
  margin: 0px;
  padding: 0px 0px;
  position: fixed;
  z-index: 9;
  overflow: scroll;
  height: 100vh;
}

header h1 {
  font-size: calc(var(--text-size) * 3.2);
}
header p {
  font-size: calc(var(--text-size) * 1.2);
  line-height: 1.3em;
}

.row:last-child {
  margin-bottom: 150px;
}

main {
  padding: 0px 0px 0px 0px;
  flex: 1;
  overflow: auto;
  max-height: 100%;
  padding-right: 0px;
  background-color: var(--text-background);
  width: var(--content-width);
  margin-left: var(--header-width);
  font-size: calc(var(--text-size) * 1.2);
  margin-right: 5%;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  border-radius: 4px;
}

/* MAIN BODY STYLING ------------------------------------------------*/

.onecol-text {
  padding: 0px calc(var(--horizontal-text-padding) * 10) 0px
    var(--horizontal-text-padding);
  line-height: 1.3;
  color: black;
  background-color: var(--text-background);
  margin: 0;
  overflow-y: hidden;
}

.line {
  border-top: 0.5px solid rgb(73, 72, 72);
}

.guides {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: var(--horizontal-text-padding);
  padding-left: var(--horizontal-text-padding);
  padding-right: calc(2 * var(--horizontal-text-padding));
  padding-bottom: var(--horizontal-text-padding);
  row-gap: var(--vertical-padding);
}

.twocol-text {
  font-size: smaller;

  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: var(--horizontal-text-padding);
}

.col1 {
  position: relative;
  height: auto;
  width: auto;
  border: 1px dashed black;
  padding: 10px;
  background-color: #fff;
  border-right: none;
}

a.col2:hover {
  background-color: gray;
  color: white;
}

.col1text {
  position: absolute;
  top: 5%;
  left: 5%;
  background: black;
  color: white;
  width: 90%;
}

.col2 {
  /* padding-left: 20px; */
  position: relative;
  /* height: 250px; */
  width: 100%;
  border: 1px dashed black;
  border-left: none;
  padding: 10px;
  background-color: #fff;
}

.title-text {
  background-color: var(--bgcolor);
  padding: var(--vertical-padding) calc(var(--horizontal-text-padding) * 1);
  color: var(--textcolor);
}

.full-width-image {
  width: 80%;
  display: block;
  margin: auto;
  /* margin-top: 4em; */
  padding-bottom: 4em;
}

header img {
  width: 39%;
  float: left;
  margin: 5%;
}

/* SIDEBAR BODY STYLING -------------------------------------------*/

.row {
  margin-top: 20px;
  padding: 0px var(--horizontal-padding);
}

.row p {
  margin: 0px;
}
.row h5 {
  padding-top: 0px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sub-heading {
  /* font-size: 14px;  */
  /* border-bottom: 1px #0421c4 solid; */
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  padding: calc(var(--vertical-padding) * 1) var(--horizontal-padding)
    calc(var(--vertical-padding) / 2) var(--horizontal-padding);
}

.sub-heading p {
  font-size: calc(var(--text-size) * 1.2);
  line-height: calc(var(--text-size) * 1.4);
}

ul.serverdata-left {
  font-size: calc(var(--text-size) * 1); /*contolling data text size*/

  list-style-type: none; /* Remove bullets */
  margin: 0; /* Remove margins */
  float: left;
  padding: 0;
  width: var(--serverDataLeft); /*NEED TO CALCULATE WITH VARIABLES*/
  /* padding: 0px var(--horizontal-padding); */
  color: darkgray;
}

ul.serverdata-right {
  font-size: calc(var(--text-size) * 1); /*contolling data text size*/
  list-style-type: none; /* Remove bullets */
  text-align: left;
  margin: 0; /* Remove margins */
  float: left;
  /* width:65%;NEED TO CALCULATE WITH VARIABLES */
  width: calc(100% - var(--serverDataLeft));
  padding-left: 10px;
  /* padding: 0px var(--horizontal-padding) var(--vertical-padding) var(--horizontal-padding); */
}

li.server {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 0px 4px 0px 4px;
  margin: 4px 0px 4px 0px;
}

li.server-meter {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 0px 0px 0px 0px;
  /* border: rgb(200,200,200) solid 0.5px; */
  margin: 4px 0px 4px 0px;
}

li {
  line-height: 1.5em;
}

.side-box {
  padding: var(--vertical-padding) 0px var(--vertical-padding) 0px;
  /* background-color: var(--bgcolor); */
  /* border-radius: 4px; */
  /* font-size: calc(var(--text-size) * 1.2); */
  line-height: calc(var(--text-size) * 1.4);
  border-top: 1px solid white;
}

table.side td,
table.side th {
  /* border: 1px solid #999; */
  font-size: calc(var(--text-size) * 0.8);
  padding: 0.3rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  line-height: 1.1em;
}

table.side td {
  width: 50%;
}

table.side {
  width: 100%;
}

.clr {
  clear: both;
  font-size: 0;
}

.column img {
  width: 100%;
  position: relative;
  float: left;
  left: -100px;
  top: 120px;
  width: 400px;
}

.full-col {
  border-left: 0.5px solid rgb(73, 72, 72);
  padding: 0;
  margin: 0;
}

.full-col-padding {
  border-left: 0.5px solid rgb(73, 72, 72);
  margin: 0;
  padding: 0 var(--horizontal-padding);
}

.page-text p:first-child {
  margin-top: 0;
}

img {
  width: 100%;
  padding: 0;
  margin: 0;
}

p {
  orphans: 3;
  widows: 3;
}

a {
  /* text-decoration: none; */
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

h1 {
}
h1 a {
  color: white;
}

h2 {
  font-size: 33px;
  padding: 20px 0px 10px 0px;
}

h3 {
  font-size: calc(var(--text-size) * 1.6);
  padding: 20px 0px 10px 0px;
}

/*Server title*/
h4 {
  font-size: calc(var(--text-size) * 1.2);
  text-transform: none;
  padding: var(--vertical-padding) 0px;
  font-style: oblique;
}

/*Titles in sidebar*/
/*NEED TO MAKE RESPONSIVE*/
h5 {
  font-size: calc(var(--text-size) * 1.2);
  font-style: oblique;
  padding: 20px 0px 0px 0px;
}

/*Right titles in sidebar*/
h6 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: solid 1px gray;
}

hr {
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

ol {
  margin: 0;
  margin-top: 10px;
}

.top {
  width: 95%;
  margin-bottom: 1px solid var(--textcolor);
}

section {
  border-bottom: 1px solid #000;
  padding-bottom: var(--vertical-padding);
  margin-top: var(--vertical-padding);
}

.caption {
  font-size: calc(var(--text-size) * 0.9);
  font-style: oblique;

  padding: var(--vertical-padding) 0px;
}

.caption2 {
  font-size: calc(var(--text-size) * 0.9);
  font-style: oblique;

  padding: 0px;
}

.server-box {
  /* border: solid 1px black; */
  padding: none;
  border: black 1px solid;
  margin: 20px 0px;
}

.server-box::after {
  content: "";
  clear: both;
  display: table;
}

.server-box p {
  margin: 0px;
  font-size: calc(var(--text-size) * 1);
  vertical-align: top;
  padding: 3px 10px;
}

.server-box h3 {
  /* padding: var(--vertical-padding) var(--horizontal-padding); */
  padding: 5px 10px;
  background-color: black;
  color: white;
  font-size: calc(var(--text-size) * 1.2);
  background-color: rgba(0, 0, 0);
  line-height: 1.1em;
  font-style: italic;
}
.server-box table {
  margin: 0px;
  font-size: calc(var(--text-size) * 1);
  vertical-align: top;
}
.server-box td {
  padding: 5px 5px;
}

.server-box img {
  float: right;
  width: 50%;
}

.lowres {
  /* position:absolute; */
  color: white;
  font-size: 0.8em;
  padding: 3px;
  z-index: 100;
  /* height: 20px; */
}

.library {
  display: block;
  border-collapse: collapse;
  border-spacing: 0;
}

.library tr {
  height: 48px;
}

.library tbody tr:hover {
  background-color: #e4e4e4;
}

.library thead * {
  text-transform: uppercase;
  border-radius: 0.25em;
}

.library td {
  padding-left: 10px;
  padding-right: 18px;
  padding-top: 5px;
  border-top: 1px solid black;
  vertical-align: top;
  background-color: rgba(153, 152, 152, 0.2);
  font-size: smaller;
  /* border-bottom: solid black 1px; */
}

.library tbody td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.update {
  padding-left: 120px;
  text-indent: -120px;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.1s linear;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: "Show more";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Show less";
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5em;
  color: #666;
  font-size: 0.9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 0.25em;
}
.library {
  padding-left: var(--horizontal-text-padding);
  padding-right: var(--horizontal-text-padding);
}
.library {
  font-size: smaller;
  width: 100%;
}

.button {
  color: black;
}

code {
  font-size: 15px;
  background-color: white;
}

.marquee {
  background-color: white;
  padding: 10px 0px;
}

@media (max-width: 1070px) {
  header h1 {
    font-size: 3em;
  }

  .onecol-text {
    padding: var(--vertical-padding) calc(var(--horizontal-text-padding) * 1)
      var(--vertical-padding) var(--horizontal-text-padding);
    overflow-y: hidden;
  }

  ul.serverdata-left {
    width: calc(
      var(--serverDataLeft) / 2
    ); /* NEED TO CALCULATE WITH VARIABLES */
  }
  ul.serverdata-right {
    width: calc(100% - var(--serverDataLeft) / 2);
    min-width: 55px;
  }
  li.server {
    background-color: rgb(40, 40, 40);
  }

  .meter > span {
    white-space: normal;
    border: solid 0.5px rgb(40, 40, 40);
    background-color: rgb(10, 10, 10);
  }

  .col2 {
  }

  .col1 {
    position: relative;
    height: 100%;
    width: auto;
  }

  .guides {
    grid-template-columns: 100%;
  }
}

.network-box {
  padding: 10px;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  background-color: gray;
  width: 100%;
}

.back {
  font-size: 14px;
  text-transform: uppercase;
  margin: 50px 0px;
  border-top: 1px solid;
  padding: 10px 0px 30px 0px;
}

/* ---------------------MOBILE--------------------------------- */

@media (max-width: 650px) {
  header {
    position: static;
    width: 100%;
    height: auto;
    overflow: auto;
    padding-right: var(--nav-width);
  }

  .sub-heading h1 {
    font-size: 3em;
  }

  .row:last-child {
    margin-bottom: 20px;
  }

  main {
    margin: 0;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 20px;

    width: 100%;
    background-color: var(--text-background);
  }
  p {
    font-size: smaller;
  }
  li {
    font-size: smaller;
  }
  .update {
    font-size: smaller;
  }

  ul.no-bullets {
    flex: none;
  }

  nav {
    width: calc(var(--nav-width) * 1.6);
    font-size: var(--text-size);
    height: 100vh;
    /* padding-right: 25px;
      padding-left:5px; */
  }

  .container {
    flex-direction: column;
  }

  ul.serverdata-left {
    width: var(--serverDataLeft); /* NEED TO CALCULATE WITH VARIABLES */
  }
  ul.serverdata-right {
    width: calc(100% - var(--serverDataLeft));
    min-width: 55px;
  }
  li.server {
    background-color: rgb(40, 40, 40);
  }

  .meter > span {
    white-space: normal;
    border: solid 0.5px rgb(40, 40, 40);
    background-color: rgb(10, 10, 10);
  }

  .twocol-text {
    grid-template-columns: auto auto;
  }

  /* .energy {
    display: none;
  } */

  .place {
    display: none;
  }

  .library {
    padding-left: var(--horizontal-padding);
  }

  .library td {
    padding-left: 5px;
    padding-right: 8px;
  }
  td.description {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }
}
