body {
  font-size: 5em;
	background-color: black;
	color: white;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

h1 {
  font-size: 2em;
  font-weight: normal ;

}


h2 {
  font-size: 0.5em;
  font-weight: normal ;
}

img {
  size: 0.2em;
}

.data {
    display: block;
    margin-right:80%;
    padding: 1%;
    border: 1px solid yellow;
    font-size: 0.2em;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "head-image head-image head-image" "title title title" "subtitle subtitle subtitle";
  }
  
  .title { grid-area: title; }
  
  .subtitle { grid-area: subtitle; }
  
  .head-image { grid-area: head-image; }
  