.DS_Store
*.sublime-workspace
*.sublime-project
venv/
*/venv/*
env/
*/env/*
charge-controller/data/

*.vscode

/backend/createHTML/local-content.json
/backend/createHTML/local/*

backend/api/v1/deviceList.json
backend/visualization/clock.png

/backend/visualization/archive/*

.spenv