# python
__pycache__

# downloaded by protocol/core/getRemoteData.py
data/*json

# created by charge-controller/datalogger.py
data/traces/*csv

# created by protocol/build/html.py
frontend/*html

# created by protocol/build/viz.py
frontend/archive/*png

# do not commit changes to secrets
local/secrets.json
