# python
__pycache__
*pyc

# do not commit changes to secrets
local/secrets.json

# do not commit changes to local config
local/local.json

# created by datalogger/csv_datalogger.py
data/charge-controller/*csv

# local cache of device discovery
data/devices/*json

# created by protocol/core/getRemoteData.py
data/*json
data/poe.log

# created by protocol/build/html.py
frontend/*html

# created by protocol/build/viz.py
frontend/archive/*png
frontend/images/archive/*png
frontend/images/clock.png
frontend/images/servers/*
frontend/images/clock-exhibit.png
