services:
  common:
    pull_policy: never
    image: solar-protocol/base
    build: common

  datalogger:
    pull_policy: never
    image: solar-protocol/datalogger
    build: datalogger
    restart: unless-stopped
    devices:
      - ${FAKE_TTY:-/dev/ttyUSB0:/dev/ttyUSB0}
    volumes:
      - ./data:/data:rw
      - /etc/localtime:/etc/localtime
    environment:
      - FAKE_DATA
      - PLATFORM

  api:
    pull_policy: never
    image: solar-protocol/api
    build: api
    restart: unless-stopped
    volumes:
      - ./data:/data:ro
      - ./local:/local:rw
      - /etc/localtime:/etc/localtime
    ports:
      - 11215:80

  protocol:
    pull_policy: never
    image: solar-protocol/protocol
    build: protocol
    restart: unless-stopped
    command: python run.py
    environment:
      - LOGLEVEL=DEBUG
      - MAC
    volumes:
      - ./data:/data:rw
      - ./frontend:/frontend:rw
      - ./local:/local:rw
      - /etc/localtime:/etc/localtime

  web:
    image: caddy
    restart: unless-stopped
    volumes:
      - ./frontend:/frontend:ro
      - ./dev/Caddyfile:/etc/caddy/Caddyfile:ro
      - /etc/localtime:/etc/localtime
      - caddy_config:/config
    ports:
      - 11221:8080

volumes:
  caddy_config:
