services:
  common:
    image: jedahan/solar-protocol-base:beta
    build: common

  datalogger:
    image: jedahan/solar-protocol-datalogger
    build: datalogger
    restart: unless-stopped
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    volumes:
      - data:/data
      - /etc/localtime:/etc/localtime
    environment:
      - FAKE_DATA
      - PLATFORM
    logging:
      driver: local

  api:
    image: jedahan/solar-protocol-api
    build: api
    restart: unless-stopped
    volumes:
      - data:/data
      - local:/local
      - /etc/localtime:/etc/localtime
    ports:
      - 11215:80
    logging:
      driver: local

  protocol:
    image: jedahan/solar-protocol-protocol
    build: protocol
    restart: unless-stopped
    command: python run.py
    environment:
      - LOGLEVEL
      - MAC
    volumes:
      - data:/data
      - frontend:/frontend
      - local:/local
      - /etc/localtime:/etc/localtime
    logging:
      driver: local

  web:
    image: docker.io/library/nginx
    restart: unless-stopped
    volumes:
      - data:/data
      - local:/local
      - frontend:/frontend
      - ./dev/nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/localtime:/etc/localtime
    ports:
      - 11221:80
    logging:
      driver: local

volumes:
  data:
    driver_opts:
      o: bind
      type: none
      device: '${PWD}/data'
  frontend:
    driver_opts:
      o: bind
      type: none
      device: '${PWD}/frontend'
  local:
    driver_opts:
      o: bind
      type: none
      device: '${PWD}/local'
