cairocffi==1.7.1
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
gizeh==0.1.11
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.0
pandas==2.2.2
pillow==10.3.0
pycparser==2.22
pymodbus==2.5.3
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
tzdata==2024.1
urllib3==2.2.2
webcolors==24.6.0
