body {
	font-size: 5em;
	background-color: black;
	color: white;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}


.data {
    display: block;
    margin-right:80%;
    padding: 1%;
    font-size: 0.2em;
  }
