<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="exhibit-style.css?v=1" />
    <title>Solar Protocol</title>
    <meta
      name="author"
      content=" Tega Brain, Alex Nathanson and Benedetta Piantella."
    />

    <!--Twitter -->
    <!--sola this is what Facebook and other social websites will draw on -->

<meta property="og:type" content="website" />
<meta property="og:url" content="http://solarprotocol.net/sunthinking/" />
<meta property="og:title" content="Sun Thinking" />
<meta property="og:description" content="A group exhibition hosted on Solar Protocol" />
<meta property="og:image" content="http://solarprotocol.net/sunthinking/images/twitter-large.png" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Sun Thinking" />
<meta name="twitter:description" content="A group exhibition hosted on Solar Protocol" />
<meta name="twitter:image" content="http://solarprotocol.net/sunthinking/images/twitter-large.png" />
<meta name="twitter:url" value="http://solarprotocol.net/sunthinking/" />


    <link rel="icon" href="images/favicon.png" />
    <style>

      a:hover { color: {{bgColor}};  text-decoration: none;}
      .image{background: {{bgColor}};}
      
      a .enter-button {background: {{bgColor}};}
      .footer {background: {{bgColor}};}
      .mobile-header {

background-image: linear-gradient(
      to top,
      {{bgColor}},
      {{bgColor}},
      {{bgColor}},
      white
    );}
    </style>
  </head>
  <body>
    <div class="container">
      <!-- LEFT NAV --------------------------------->

      <header
        style="
          background-image: linear-gradient(
            to top,
            {{bgColor}},
            {{bgColor}},
            rgb(100, 100, 100),
            grey,
            black
          ); "
      >
        <div class="mobile" style="background-color: black">
          <span class="h1"><a href="index.html">Solar Protocol</a></span>
        </div>
        <div class="sub-heading">
          <span class="h1"><a href="http://solarprotocol.net/">Solar Protocol &nbsp;|&nbsp;</a></span>
          <span class="p" style="color:white;"><a href="http://solarprotocol.net/">SERVER: {{name}}, {{country}} </span>
          <span class="h1" style="color:white;"><a href=""> &nbsp;|&nbsp;</a></span>
          <span class="p" style="color:white;">Battery: {{batteryPercentage}} %</a></span>
        </div>
      </header>

      <!-- RIGHT NAV --------------------------------->
      <nav>
        <ul class="no-bullets">
          <li>
            <a href="/">Home</a>
            •
          </li>
          <!-- <li>
            <a href="/network.html">Network</a>
            •
          </li> -->
          <li>
            <a href="/manifesto.html">Manifesto</a>
            •
          </li>
          <li>
            <a href="/documentation.html">Tech</a>
            •
          </li>
          <li>
            <a href="/guides.html">Guides</a>
            •
          </li>
          <li><a href="/library.html">Library</a>
            •
          <li>
            <a href="exhibitions.html">Exhibitions</a>
          </li>
        </ul>
      </nav>
      {% block content %}{% endblock %}
    </div>
    <!-- end of container -->
   
</main>
</div>
<!-- end of container -->
</body>
</html>

