{% extends "base-template.html" %} {% block content %}
<!-- <img class="full-col" src="images/VI-Celestial-Objects-black2.png" /> -->
<img class="full-col" src="images/VI-Celestial-Objects-black2.png" />
<marquee behavior="alternate">
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSfizPTThgc4z3XvqClf5foE2PD9mafyERwn1DjDEOA8Bz1tOQ/viewform?usp=sf_link"
  >
    → APPLY HERE BY DEC 4TH ←
  </a>
</marquee>
<div class="onecol-text">
  <h3>Call for Projects and Texts for Solar Protocol</h3>

  <h3>About Solar Protocol</h3>
  <p>
    Solar Protocol is an artwork in the form of a collaborative network of
    solar-powered web servers that collectively hosts this web platform. It is
    an experiment in community-run planetary-scale computing as well as
    functioning as a kind of virtual artist-run space.
  </p>

  <p>
    Over the past 18 months, we have worked with collaborators around the world
    to set up custom solar-powered servers in different locations. Currently we
    have people stewarding servers in New York City and Philadelphia in the USA,
    Trent in Canada, Alice Springs in Australia, Santiago in Chile, Amsterdam in
    the Netherlands, and Nairobi in Kenya. Connected as a network, the servers
    then host the Solar Protocol web platform and when a request is made for the
    site, it is served from whichever server is in the most sunshine, and
    therefore generating the most energy in the network.
  </p>

  <p>
    We use the path of the sun and the weather conditions at each server
    location to program how the network operates. To put this another way, the
    system uses the environment to automate decisions and distribute
    computational work to wherever there is the most naturally occurring energy
    in the network. Decisions like where internet traffic is sent and what
    content is displayed on the site, are therefore automated according to an
    environmental logic derived from the season, the time of day and weather
    conditions across the network.
  </p>

  <p>
    The project also responds to the growing energy demands of the cloud and
    online media by advocating for and exploring what low carbon internet
    infrastructure and user experience (UX) design could look like. Although
    work on this project is ongoing, as a fully realized implementation of a
    distributed, community-owned web hosting system, powered by renewables, it
    currently provides solar-powered web hosting for stewards, powering several
    websites including sites for the Low Carbon Research Methods group at Trent
    University, and the
    <a href="http://solarpunk.solarprotocol.net/">
      Extinction Rebellion Solarpunk Storytelling Showcase
    </a>
    .
  </p>
  <p>
    You can read more about the project on the website, in this paper we wrote
    for the
    <a
      href="https://computingwithinlimits.org/2022/papers/limits22-final-Brain.pdf"
    >
      LIMITS 2022
    </a>
    conference, or you can explore the solar data produced by each server that
    is made available through the
    <a href="https://solarprotocol.net/api/v2">project API.</a>
  </p>
  <h3>What sort of projects and texts are we looking for?</h3>
  <li>
    We want to support online artworks or critical and creative texts exploring
    the themes of Solar Protocol for publication/exhibition on our platform in
    March of 2023. We are seeking proposals for new work, or proposals to show
    existing projects or texts that engage with one or more of the following
    themes:
  </li>

  <li>
    <b>
      Design and exploration with diverse forms of intelligence that go beyond
      existing forms of AI.
    </b>
    The history of AI has been characterized by shifting definitions of what
    counts as intelligence, but that since the enlightenment been dominated by
    human and statistical and machine driven perspectives. What should count as
    intelligence? In Solar Protocol, decisions in infrastructure are automated
    according to environmental limits and logics rather than those derived from
    statistical models and historic datasets. The decision about which server to
    use to serve the website is made by the sun rather than by a model or by a
    human. So the environment itself is positioned as an intelligent agent. How
    else might environmental limits and logics be explored as intelligent?
  </li>
  <li>
    <b>Low Carbon cultural practices.</b>
    How can we do cultural and artistic work in low carbon ways? What are
    aesthetic forms that explore data/energy limits provide productive and
    generative creative constraints. What tools could or should exist for low
    energy environments or to support low carbon work? What might a low carbon,
    low data or low energy social network look like?
  </li>
  <li>
    <b>The qualities of solar power.</b>
    What are characteristics and politics of coupling technologies with the sun
    and solar-power? We are interested in philosophical, ethical and existential
    perspectives on intermittency, the cyclical nature (daily and annual) of
    solar energy and on time as a system of experiencing the rotation of the
    earth.
  </li>
  <li>
    <b>Energy-centered design.</b>
    How do we move from UX to EX, or from user experience to energy experience?
    What does UX and web design look like when it is engaged with its energy use
    or energy sources. See our prompts for an energy centered design in this
    paper.
  </li>
  <li>
    <b>
      The care, labor and maintenance required to keep infrastructure working.
    </b>
    Our servers often go down due to stewards needing to move house,
    connectivity issues, changes in ISPs, water leaks and so forth. What does it
    take to keep infrastructure working and servers online?
  </li>
  <li>
    <b>Planetary scale participatory practice.</b>
    We are interested in reflections or experiments in networked collaboration,
    this could include connecting with or working with a server steward.
  </li>
  <li><b>Politics of decentralized, DIY networks.</b></li>

  <p>
    Projects must be html (+css and/or javascript) websites. They might respond
    to the energy data generated across the network that can be accessed via our
    API:
    <a href="http://solarprotocol.net/api/v2/">
      http://solarprotocol.net/api/v2/
    </a>
  </p>
  <p>
    To learn more, see
    <a href="guides.html">our guides</a>
    about developing projects for the Solar Protocol platform, or attend our
    <a href="https://solarprotocol-opencall.eventbrite.com">
      Q and A session on Friday November 18th 12.30–1.30EST.
    </a>
  </p>

  <h3>What sort of support can we provide?</h3>
  <p>
    We estimate we can provide the following support for several contributions
    in the following categories. These figures will vary depending on how many
    projects we publish.
  </p>
  <ul>
    <li>$1000-1500 artist fee for the development of a new work</li>
    <li>$200 exhibition fee for the exhibition of existing work</li>
    <li>$1000 honorarium for a new text (2000-4000 words)</li>
    <li>$200 honorarium for republishing an existing text.</li>
  </ul>
  <p>
    We will provide editorial support for texts and development support to
    implement the online artworks on the Solar Protocol platform.
  </p>
  <h3>Timeline</h3>
  <ul>
    <li>
      November 18th, 12.30–1.30pm. Q&A with Solar Protocol team about the open
      call.
      <a href="https://solarprotocol-opencall.eventbrite.com">Register here.</a>
    </li>
    <li>
      December 4th: Submissions due via
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSfizPTThgc4z3XvqClf5foE2PD9mafyERwn1DjDEOA8Bz1tOQ/viewform?usp=sf_link"
      >
        the application form.
      </a>
    </li>
    <li>December 12th: Awardees announced.</li>
    <li>February 3rd: Project delivery.</li>
    <li>March 2023: Project launch.</li>
    <li>Week of March 6th: Online launch event with all participants.</li>
  </ul>
  <h3>Deliverables:</h3>

  <ul>
    <li>Attendance at kick off meeting</li>
    <li>Mid-project check, either via Zoom or email in early January.</li>
    <li>Attendance and presentation in final online launch event</li>
    <li>
      If you are submitting an existing artwork, we will ask you to contribute a
      short text describing it, the rationale behind it or the process of its
      making. (250-400 words).
    </li>
  </ul>
</div>
<img class="full-col" src="images/VI-Celestial-Objects-black1.png" />
<div class="onecol-text">
  <p>
    * Note on becoming a server steward: At the moment we do not have the
    resources for new servers, but if you want to learn more about the process
    of becoming a steward, please see
    <a href="guide-site.html">this guide</a>
    on what is required.
  </p>
  <p>
    Thanks to
    <a href="http://taeyoonchoi.com/">Taeyoon Choi</a>
    for providing feedback on this open call.
  </p>
  <p>
    This project is a work in progress, for occasional updates join our
    <a href="https://tinyletter.com/Solar-Protocol">project newsletter.</a>
  </p>
</div>
{% endblock %}
