{% extends "base-template.html" %} {% block content %}
<!-- <img class="full-col" src="images/VI-Celestial-Objects-black2.png" /> -->
<img class="full-col" src="images/VI-Celestial-Objects-black2.png" />
</marquee>
<div class="onecol-text">
  <h2>Solar Protocol Program Announcements</h2>
  
  <p>Spring, 2023</p>
  
  <h3>Thinking with the Sun</h3>

  Launch: April 22nd, 12pm-2pm EST. Hybrid event (in person in New York City and online). <a href>Register here.</a>

  <p>We are please to announce the first online exhibition, <i>Thinking with the Sun</i>, to be launched on the Solar Protocol Network in Spring of 2023.</p>

  <p><i>Thinking with the Sun</i> brings together artists and writers to explore some of the themes and questions that are central to the Solar Protocol Project. The exhibition includes some new commissions, as well as experimental projects and texts that critically and playfully explore the qualities and characteristics of solar-power as medium, the materiality of computation, life within planetary limits and environmental perspectives on intelligence. </p>

  <h4>Artists and Contributers:</h4>
  <p>Hakeem Adam, Honor Ash, Stephanie Dick, Marloes de Valk, Rory Gillen and Anna Madeleine Raupach, Felix Lenz, Mark Anthony Hernández Motaghy, Jen Liu, Kristin Lucas and Joe McKay, Anne Pasek, Allison Parrish, Everest Pipkin, Brian Sutherland, Roopa Vasudevan and Denzel Wamburu. </p>
  

  
</div>
{% endblock %}
