{% extends "base-template.html" %} {% block content %}
<div class="onecol-text">
  <h2>Guides</h2>
  <br />
  <h6>Background</h6>

  <ul>
    <li>
      <a href="guide-howitworks.html">
        How does the Solar Protocol system work?
      </a>
    </li>
  </ul>
  <br />
  <h6>Developing Projects and Hosting Sites</h6>
  <ul>
    <li>
      <a href="guide-projects.html">
        What kind of projects can run on Solar Protocol?
      </a>
    </li>
    <li>
      <a href="guide-creatingasite.html">Creating a website.</a>
    </li>
    <li>
      <a href="guide-api1.html">Working with the Solar Protocol API Part 1</a>
    </li>
    <li>
      <a href="guide-api2.html">Working with the Solar Protocol API Part 2</a>
    </li>
  </ul>
  <br />
  <h6>Guides for Stewards</h6>
  <h5>Getting A Server Setup</h5>
  <ul>
    <li>
      <a href="guide-site.html">
        Scoping a site: What do you need to install a small scale solar system?
      </a>
    </li>
    <li>
      <a href="guide-portforward.html">
        Setting up your local router so your server can join the Solar Protocol
        network.
      </a>
    </li>
    <li>
      <a
        href="https://docs.google.com/document/d/e/2PACX-1vQuEFoQmvCF-1YzIU38Zr6bWkbFQ65YRmF-m1Ban6A0fkVssv8d6r1-D6ghI9N4S3y1as-l3ciM_Atw/pub"
      >
        Assembling a server: Parts list, design and method of assembling a
        server.
      </a>
    </li>
  </ul>
  <h5>Maintenance and Troubleshooting</h5>
  <ul>
    <li>
      <a href="guide-troubleshooting.html">
        Maintenance & Troubleshooting: What to check when the server doesn’t
        seem to be running as expected?
      </a>
    </li>
  </ul>
</div>
{% endblock %}
