{% extends "base-template.html" %} {% block content %}
<div class="onecol-text">
  <h3>Guides</h3>
</div>
<div class="guides">
  <div class="twocol-text">
    <a class="col1" href="call.html">
      <img src="images/learn/server.jpg" />
      <!-- <div class="col1text">Scoping a site for a server</div> -->
    </a>
    <a class="col2" href="call.html">
      <h6>Scoping a site</h6>
      <p>What do you need to install a small scale solar system?</p>
    </a>
  </div>
  <div class="twocol-text">
    <a class="col1" href="call.html">
      <img src="images/learn/production2.png" />
      <!-- <div class="col1text">Scoping a site for a server</div> -->
    </a>
    <a class="col2" href="call.html">
      <h6>Assembling a server</h6>
      <p>
        What parts do you need? This guide outlines the design and method of
        assembling a server.
      </p>
    </a>
  </div>
</div>
{% endblock %}
