{% extends "base-template.html" %} {% block content %}
<div class="onecol-text">
  <br />
  <h6>GUIDE: Developing Projects and Hosting Sites</h6>
  <h2>Working with the API V2 - Part 2</h2>
  <h3>What can you do with this API?</h3>
  <p>
    Now that you know what kinds of data you can retrieve with API and how to
    interact with it, lets look at some example projects.
  </p>
  <p>The four examples we&rsquo;ll look at below are:</p>
  <ol>
    <li>making simple API calls</li>
    <li>making larger API calls and graphing time-series data</li>
    <li>API Exquisite Corpse</li>
  </ol>
  <p>
    These examples use P5.JS, mostly because its a convienant and accessible way
    to start making visual things with a common programming language
    (Javascript).
  </p>
  <p>You can learn more about P5.JS at https://p5js.org/.</p>
  <h4>Set up</h4>
  <p>
    In order to run the examples, you will need to run a local server on your
    machine and one of the simplest ways to do this is with Python. Python is
    generally pre-installed on Macs, but Windows users will need to download it.
    You will need to use command line/ terminal.
  </p>
  <ul>
    <li>
      To check if you already have Python installed and the version, open
      terminal and type
      <code>python --version</code>
      . If its not installed, install python.
    </li>
    <li>Navigate to the directory that contains your HTML file.</li>
    <li>
      Different OS and command line interfaces use slightly different syntax. It
      is easy to find an introduction to command line for your specific OS by
      searching online. To run the serrver, all you need to know is how to move
      around the directory structure. The command to change directory used by
      most, if not all, systems is
      <code>cd</code>
      +
      <code>name of the directory</code>
      or
      <code>cd ..</code>
      to move up in the directory stucture. It may also be useful to list the
      contents of the directory.
      <code>dir</code>
      works in windows.
      <code>ls</code>
      will lists the contents for Mac.
    </li>
    <li>
      Run the below code based on which version of python you are using. _
      Python 3
      <code>python -m http.server</code>
      _ Python 2
      <code>python -m SimpleHTTPServer</code>
    </li>
    <li>
      If the server is running properly you should see something like this in
      the terminal Serving HTTP on 0.0.0.0 port 8000 (http://0.0.0.0:8000/)
      &hellip;
    </li>
    <li>In a browser, go to http://localhost:8000/</li>
  </ul>

  <h4>Note: Mixed Content Errors</h4>
  <p>
    As of August 2024, solarprotocol.net works with both http and https protocols. If you are working in Javascript, you need to be aware mixed content errors. This occurs when your site is https and you make a request to a resource with http. If you are creating content for the Solar Protocol website with Javascript, your work needs to be accessible to users accessing it with either protocol. You can use <code>window.location.protocol</code> to check which protocol you're using. Try running <code>window.location.protocol</code> in your browser console to see the result. The code below is a simple way to implement this in Javascript.
  </p>
  <pre>
  <code>
    spProtocol = window.location.protocol //returns either "http:" or "https:"
    let result = JSON.parse(getAPI(spProtocol + '//solarprotocol.net/api/v2/opendata.php?systemInfo=name'));

    function getAPI(dstURL){
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open( "GET", dstURL, false );
      xmlHttp.send( null );
      return xmlHttp.responseText;
    }
  </code>
  </pre>

  <h3>Example Project 1: Hello Solar Protocol API!</h3>
  <p>
    First, lets make a call to the API to retrieve the battery voltage and do
    something visual with it.
  </p>
  <p>You can find the code for this example in the example1 directory</p>
  <p>To do get the battery voltage data, we use this call:</p>
  <code>
    http://solarprotocol.net/api/v2/opendata.php?value=battery-voltage
  </code>
  <p>This will return an object that looks like this:</p>
  <code>{ "battery-voltage": "12.69" }</code>
  <p>
    Of course the number value will be different depending on the status at the
    moment you make the call.
  </p>
  <p>
    The data we get comes from the active server. This means that if the server
    changes, because the sun conditions change, the data will be different. To
    demonstrate this, we are also going to request the server name from the API.
  </p>
  <p>We&rsquo;ll use this call to get the name:</p>
  <code>http://solarprotocol.net/api/v2/opendata.php?systemInfo=name</code>
  .
  <p>The response to this call looks like this:</p>
  <code>{ name: "Solar-Power for Hackers" }</code>
  <p>
    In order to display updated data every 5 minutes we&rsquo;ll make both of
    these API calls again. Everytime it updates or you refresh the page you may
    see the server name and voltage amount change.
  </p>
  <p>
    <code>if(time &gt;= 60*5){</code>
    <br />
    <code>
      loadJSON('http://solarprotocol.net/api/v2/opendata.php?value=battery-voltage',
      gotBatData);
    </code>
    <br />
    <code>
      loadJSON('http://solarprotocol.net/api/v2/opendata.php?systemInfo=name',
      gotName);
    </code>
    <br />
    <code>}</code>
    <br />
  </p>
  <p>
    Experiment with changing the type of data you are requesting. For example,
    if you want PV voltage you should use this API call:
  </p>
  <code>http://solarprotocol.net/api/v2/opendata.php?value=PV-voltage</code>
  <p>
    <br />
    <br />
    <img alt="Screenshot of example 1" src="images/guides/api-example1.png" />
    <em>Screenshot of API tutorial example 1.</em>
    <br />
    <br />
  </p>
  <h4>Trouble shooting example 1</h4>
  <ul>
    <li>
      If you are having trouble getting example 1 to load in a browser, the most
      likely culprit is the local server.
    </li>
    <li>
      Make sure you are in the tutorials/api/example1 directory when you launch
      the server. If you are in a different directory you will need to navigate
      to the correct directory.
    </li>
    <li>Also, make sure you are going to the correct port.</li>
    <li>
      Use the console in the browser&rsquo;s development tools to view error
      messages.
    </li>
    <li>
      If the example is running but isn&rsquo;t retrieving data, confirm
      http://solarprotocol.net is online by opening up the main page in a web
      browser. You can also try make a get request directly in the browser to
      confirm the system is running by going to this URL:
      <code>
        http://solarprotocol.net/api/v2/opendata.php?value=battery-voltage
      </code>
    </li>
  </ul>
  <h3>Example Project 2: Data Viz</h3>
  <p>
    Now that you know how to make API calls, lets request a more significant
    amount of time-series data and graph it.
  </p>
  <p>
    For this example, we are making 1 API call which will return the 3 most
    recent calendar days worth of data. This means it will return all the data
    from today, yesterday, and the day before. Note that this corresponds to the
    server&rsquo;s local time, which is not necessarily your time (unless you
    happen to be in the same time zone as the server that is responding to you.)
  </p>
  <p>The call to get this data is:</p>
  <code>http://solarprotocol.net/api/v2/opendata.php?day=3</code>

  <p>
    When the script is run, the API call and some styling commands are made in
    the setup function. Immediately after that the axis for the graph are drawn.
  </p>
  <p>
    Once the API returns a response, that data sent to the
    <code>gotData()</code>
    function. Our API call will return an object with 3 elements: the timezone
    for the server and 2 arrays containing the headers and the actual data we
    want to display, respectively. The
    <code>gotData()</code>
    function parses the data and puts it in the format we want to visualize it.
    Then it is passed on to the
    <code>drawData()</code>
    function which scales the data to fit our canvas and draws it to the screen.
    It also uses the header array to draw labels.
  </p>
  <h3>Example Project 3: API Exquisite Corpse</h3>
  <p>
    This project uses the Solar Protocol network activity to manipulate an image
    and create an emergent/collaborative illustration, in a similar way as the
    game Exquisite Corpse. Exquisite Corpse is collaborative drawing game that
    was popular with surrealist artists in the 1920s. The rules of the game are
    that each person is to add to a drawing without seeing any of the previous
    work. One person starts a drawing and then folds the paper over so only the
    bottom edge of the drawing is visible. The next person continues the
    illustration starting from the small bit that is visible from the previous
    person&rsquo;s work. This continues until the paper is full. The result is
    often a silly grotesque creation.
  </p>
  <p>
    In our version, we&rsquo;ll be making an emergent collage. Every time the
    active server changes, the illustration will be ammended with an image
    relating to the location of the new server. To do this, we&rsquo;ll be using
    the MET Museums Art Collection API. Their API is nice for this because its
    completely open access and doesn&rsquo;t require you to register. You
    don&rsquo;t necessarily need to dig in to their API documentation, but if
    you&rsquo;re curious about how it works and want to remix this example you
    can find their docs at https://metmuseum.github.io/.
  </p>
  <p>
    However, the MET doesn&rsquo;t enable CORS on their server, which means we
    need to use a proxy server to be able to retrieve the images.
  </p>
  <h4>Python Proxy Server with Flask</h4>
  <p>install pip install flask:</p>
  <code>pip install flask</code>
  <p>install flask_cors:</p>
  <code>pip install flask_cors</code>

  <p>navigate to the</p>
  <code>example3</code>
  <p>directory and start the server with this code:</p>
  <code>flask --app simpleFlaskProxy run</code>

  <h4>Javascript</h4>
  <p>
    Note that you still need to spin up a normal Python server, like you did for
    the other 2 examples for this to work.
  </p>
  <p>
    We will do this by calling the location of the server with this command:
  </p>
  <code>http://solarprotocol.net/api/v2/opendata.php?systemInfo=location</code>

  <p>
    We then compare the location to the previous location. If the location
    hasn&rsquo;t changed, we distort the existing data. If it has changed, we
    add a new image.
  </p>
  <p>
    <br />
    <br />
    <img alt="Screenshot of example 3" src="images/guides/api-example3.png" />
    <em>Screenshot of API tutorial example 3.</em>
    <br />
    <br />
  </p>
  <!-- ## Example Project 4: Drawing Machine -->
  <a class="back" href="guides.html">Back to guides</a>
</div>
{% endblock %}
