{% extends "base-template.html" %} {% block content %}
{% if batteryPercentage >= 50 %}
  <div class="title-text">
    <div class="full-width-image">
      <img src="{{leadImage}}" />
    </div>
  </div>
  <div class="onecol-text">
    <div class="caption">
      Three days of network sunlight data are visualized for each server. The
      colored bars represent the hours that each server as been the active point
      of entry to the network.
      <hr />
    </div>
  </div>
{% else %}
{% endif %}
<div class="onecol-text">
    <h3>About</h3>
    <p>
      Solar Protocol is a web platform hosted on a network of small solar powered
      servers set up in different locations around the world. A solar powered
      server is a single board computer that is powered by a solar panel and a
      small battery. As a stand alone device, a solar server offers intermittent
      connectivity due to its energy resources being dependent on the length of
      day and weather conditions. However if connected in a network, the
      computational work involved in serving a website is able to be distributed
      across many solar servers.
    </p>
    <p>
      With servers located in different time zones, seasons and weather systems,
      internet traffic is able to be directed to wherever the sun is shining. When
      a browser makes a request for this site, it is sent to wherever in the
      network the most energy is generated. You are currently on the {{name}}
      server located in {{location}} where it is {{time}} and the weather is
      {{weather}}.
    </p>
    <p>
      Solar Protocol explores the sun’s interaction with Earth as a form of logic
      that shapes the daily behaviors, seasonal activities and the decision making
      of almost all life forms. Solar Protocol honors this natural logic,
      exploring it as a form of intelligence that is used to automate decisions in
      a digital network.
    </p>
    <h4>How does it work?</h4>
    <p>
      As the sun rises and sets, each server becomes active or inactive as its
      solar panel goes into sunlight or darkness. Traffic is directed across the
      network according to wherever there is the most light.
    </p>
    <p>
      Solar Protocol uses everyday internet technologies like the Domain Network
      Service (DNS) protocol, a decentralized system that associates a URL address
      to the IP address of a server. In short, DNS is the system that dictates the
      path between client and server. For large-scale, high volume web services
      that use multiple servers hosted in different locations, the DNS protocol is
      typically configured to direct network traffic to whichever server gives the
      quickest response time. For example, when making a Google search, your
      request would be sent to whichever Google server responds the quickest and
      this usually means the request is routed to whichever server is
      geographically closest. This routing logic prioritizes speed over all other
      factors that determine how a network operates, a characteristic that is
      prevalent in much digital culture.
    </p>
  </div>

{% if batteryPercentage >= 50 %}
  <img class="full-col" src="images/earth-sun.gif" />
  <div class="onecol-text">
  <div class="caption">
    The position of sun relative to earth produces the routing logic of the
    network.
  </div>
</div>
{% else %}
{% endif %}
  <div class="onecol-text">
    <p>
      In contrast to this, the Solar Protocol network is built with an alternative
      logic and automatically directs traffic to whichever server is generating
      the most solar energy at the time of the request. Decisions about where to
      move computational activity in the network are made according to where there
      is the most naturally available energy, rather than according to what would
      produce the quickest results for the user. In other words, in Solar
      Protocol, the distribution of sunshine (and therefore energy) across the
      planet determines the path from client to server.
    </p>

    <h4>Why does the appearance of this website change from time to time?</h4>
    <p>
      The appearance of this website changes as traffic is routed to different
      servers in the network. The people stewarding each server are able to
      customize the version of this website on their server. Both these design
      differences, as well as the content they have chosen to host on the system,
      will become visible when their server is the active server.
    </p>
    <p>
      The appearance of this website is also energy responsive. Our software
      changes the styling and resolution of the pages according to how much energy
      is stored in the battery of the active server. This means the site may
      appear different at different times of the day or in different seasons of
      the year. If the battery level at the active server is low, this website is
      displayed as raw html without any styling or images. This reduces the size
      of the page and therefore reduces the energy it takes to send it to people
      who are looking at it on the internet. If more stored energy is available,
      the site will appear at higher resolutions with heavier media such as higher
      resolution images and non-default fonts.
    </p>
    <p>
      Occasionally the website may go down if there is insufficient energy stored
      at all of the servers. However as our network grows and we set up more
      servers in diverse time zones and climates, we predict that this will happen
      less and less. It’s always sunny somewhere!
    </p>
    <h4>Attribution</h4>
    <p>
      This is work in progress by
      <a href="http://tegabrain.com/">Tega Brain</a>,
      <a href="https://alexnathanson.com/">Alex Nathanson</a> and
      <a href="https://engineering.nyu.edu/faculty/benedetta-piantella"
        >Benedetta Piantella</a
      >. It is a part of the
      <a href="https://www.eyebeam.org/rapidresponse/">Eyebeam Rapid Response</a>
      for a Better Digital Future program.
    </p>
    <p>
      We wish to thank all of the server stewards and everyone who has supported our progress with advice,
      contributions and feedback including Sam Lavigne, Dan Phiffer, Mitchell
      Whitelaw, Crystal Chen, and the staff at Eyebeam.
    </p>
  </div>
{% endblock %}

