<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solar Protocol</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="server-container">
      <p>
        ACTIVE SERVER: KOSCIUSZKO ST &nbsp; &nbsp; DATE TIME: {{date}} PV VOLTAGE: {{solarVoltage}}
        &nbsp; &nbsp; BATTERY LEVEL: {{batteryPercentage}} &nbsp; &nbsp; LOAD VOLTAGE: {{loadVoltage}} &nbsp; &nbsp; LOAD CURRENT: {{loadCurrent}}
      </p>
    </div>
    <div class="image-container">
      <img src="images/Solar-globe-bw-small.png" class="halfwidth" />
      <div class="pagetitle">
        <h2>The first algorithm was the sun</h2>
      </div>
    </div>
    <div class="text-title-container"></div>
    <div class="text-container">
      <p>
        Solar Protocol is an experimental network of solar powered servers
        installed at different locations around the world. As the sun rises and
        sets, each server turns on and off as its solar panel goes into sunlight
        or darkness. Traffic is directed to whichever server is enjoying the
        most sunlight at the time a request for the Solar Protocol website is
        made. Different parts of this site are distributed across the network
        and become available at different times of the day, depending on which
        server is active.
      </p>
      <p>
        The system directs traffic using the Domain Network Service (DNS)
        protocol, a decentralized system that resolves a URL to an IP address of
        a server. In short, DNS dictates the path between client and server.
        Typically high volume web services like Google or Facebook will
        configure the DNS to direct network traffic to different servers based
        on their response times which is ususally a proxy for the sending
        traffic to the server that is geographically closest. However on the
        Solar Protocol network, traffic is automatically directed to whichever
        server has the most solar energy available. The distribution of sunshine
        (and therefore energy) across the planet detirmines the path from client
        to server.
      </p>
    </div>
    <div class="image-container">
      <img src="images/protocol.svg" />
    </div>
    <div class="text-container">
      <p class="caption">
        The position of the sun throughout the day produces the routing logic of
        the network.
      </p>
    </div>
    <div class="text-container">
      <h3>Natural intelligences</h3>
      <p>
        Solar Protocol reconfigures internet protocols using natural rather than
        artificial intelligence. Presently, much attention is focused on
        automating decisions based on logics derived from massive datasets,
        produced by systems of surveillance capitalism. Web platforms monitor
        our our every click, view and scroll and then use this data to make
        decisions about what content to show us next. Instead, on the Solar
        Protocol platform, decisions about what content is served are automated
        with a logic produced by the sun’s position. The network operates with a
        natural intelligence that emerges from the intermittent dynamics of our
        shared environment.
      </p>
      <p>
        Intelligences derived from digital surveillance and machine learning are only
        made possible in a society powered by cheap energy from fossil fuels. Different 
        energy regimes produce different political possibilities and limitations.<sup>1</sup>  
        Relying on solar energy to power our servers, means the pages served on
        this network must be kept small in size and have to omit
        energy-intensive tracking technologies, foreclosing the possibility of online 
        surveillance and the online business models that go with it.<sup>2</sup> Solar power
        therefore encourages a faster, lighter and more private internet than
        that made possibily by fossil fuels.
      </p>
      <p>
        Solar Protocol is a space to explore the interplay between the social,
        ecological and technological, and imagine the internet anew.
      </p>
      <div class="notes">
        <p>1. Timothy Mitchell discusses the political consequences of differen energy regimes in <i>Carbon democracy: Political power in the age of oil. </i> Verso Books (2011).</p>
        <p>2. This approach was used by the Solar Powered Website published by Low Tech Magazine (2019). We have taken much inspiration from this prior work.</p>
      </div>
    </div>
    <div class="text-container">
      <h2>Research in Progress</h2>
      <ul>
        <li>An admin panel for the active server can be viewed <a href="http://solarprotocol.net/admin/">here</a>.</li>
        <li>Code is still in development. This work is open-source and shared on <a href="https://github.com/alexnathanson/solar-protocol">Github</a>.</li>
        <li>A project research archive can be found on this <a href="https://www.are.na/tega-brain/solar-powered-media">channel</a>.</li>
        </ul>
    </div>
      <div class="text-container">
        <h2>Attribution</h2>
        <p>This is work in progress by Tega Brain, Alex Nathanson and Benedetta Piantella. It is a part of the Eyebeam Rapid Response for a <a href="https://www.eyebeam.org/rapidresponse/">Better Digital Future program</a>. </p>
      </div>

  </body>
</html>
