{% extends "base-template.html" %} {% block content %}
<div class="onecol-text">
  <h3>Solar Protocol Library</h3>
  <h4>Texts on Culture and Energy</h4>
  <ul>
    <li>Timothy Mitchell. 
      <a href="https://www.versobooks.com/books/1020-carbon-democracy"
        >Carbon Democracy</a
      >(2011).
  
    </li>
    <li>
      Georges Bataille. <a href="https://en.wikipedia.org/wiki/The_Accursed_Share"
        >The Accursed Share.</a
      > (1949).
    </li>
    <li>Robin Wall Kimmerer.
      <a href="https://milkweed.org/book/braiding-sweetgrass"
        >Braiding Sweetgrass Indigenous Wisdom, Scientific Knowledge and the
        Teachings of Plants</a
      > (2014).
    </li>
    <li>Barry Lord. Art and Energy (2014).</li>
    <li>
      <a href="https://branch.climateaction.tech/about/">Branch Magazine</a>
    </li>
    <li>Anne Pasek.
      <a href="https://estsjournal.org/index.php/ests/article/view/363"
        >Low-Carbon Research: Building a Greener and More Inclusive Academy</a
      > (2020).
    </li>
  </ul>
  <h4>Projects on Digital Culture and Energy</h4>
  <ul>
    <li>Low Tech Magazine. 
      <a href="https://solar.lowtechmagazine.com/">Solar Powered Website</a>
      .
    </li>
    <li>Alex Nathanson.
      <a href="https://www.solarpowerforartists.com/"
        >Solar Power for Artists</a
      > (2018).
    </li>
    <li>Daniel Parnitzke.
      <a href="http://pleasureinscarcity.com">Finding Pleasure in Scarcity</a> (2020).
    </li>
    <li>Joana Moll. 
      <a href="https://www.janavirgin.com/AMZ/"
        >Hidden Life of the Amazon User</a
      >
      (2019).
    </li>

    <li> Joana Moll. 
      <a href="http://www.janavirgin.com/CO2/">CO2GLE </a>(2014).
    </li>
    <li>Julian
      Oliver.
      <a href="https://julianoliver.com/output/harvest">Harvest</a> (2018).
    </li>
  </ul>
  <h4>Low Carbon Computing Resources</h4>
  <ul>
    <li>100 rabbits. 
      <a href="https://100r.co/site/home.html"
        >Light weight computational tools</a
      >
    </li>
    <li>
      <a href="https://principles.green/ "
        >Principles of Sustainable Software Engineering</a
      >
    </li>
    <li>
      <a href="https://climatestrike.software/ ">Climate Strike Software</a>.
    </li>
    <li>
      <a href="https://www.websitecarbon.com/how-does-it-work/"
        >Website Carbon Calculator</a
      >.
    </li>
  </ul>
  <ul>
    <h4>Projects on Redesigning Networks</h4>
    <li>
      <a href="https://areyoubeingserved.constantvzw.org/Summit_afterlife.xhtml"
        >A Feminist Server Manifesto 0.01</a
      >
    </li>
    <li>Darius
      Kazemi. 
      <a href="https://runyourown.social/">Run your own social</a>.
    </li>
    <li>Taeyoon Choi.
      <a href="http://taeyoonchoi.com/soft-care/distributed-web-of-care/ "
        >Distributed Web of Care</a
      >.
    </li>
  </ul>
  <h4>Ruminations on the Sun</h4>
  <ul>
    <li>Susan Schuppli
      <a
        href="https://susanschuppli.com/misc/can-the-sun-lie/ 
      "
        >Can the Sun Lie</a
      > (2014).
    </li>
    <li>Boris Groys
      <a href="https://aerocene.org/newspaper-groys/"
        >On the Political Influence of the Sun</a
      > (2016).
    </li>
    <li>Nicole Starosielski.
      <a
        href="https://read.dukeupress.edu/south-atlantic-quarterly/article-abstract/120/1/13/167501/Beyond-the-SunEmbedded-Solarities-and-Agricultural?redirectedFrom=fulltext"
        >Beyond the Sun: Embedded Solarities and Agricultural Practice</a
      > (2020).
    </li>
  </ul>
  <p>
    Contribute a resource to the library by
    <a href="https://airtable.com/shrBMAbdOEzAh1VDn">filling this form.</a>
  </p>
</div>

{% endblock %}
