{% extends "base-template.html" %}
{% block content %}
<div class="title-text">

  <div class="full-width-image">
    <img src="images/BlankMap-World2.gif" />
  </div>
</div>
<div class="onecol-text">
  <h4>Network</h4>
  <p>
    To make the Solar Protocol network more robust, we are aiming to set
    up servers in different locations around the world. We are currently
    seeking more stewards for our servers. If you
    are interested in hosting one, please see our
    <a href="call.html">call for stewards</a>.
  </p>
  <h4>Servers in the Network</h4>
  <h5>1. The Gilgamesh Zone in New York</h5>
  <ul>
    <li>This server stewarded by artist and educator Tega Brain.</li>
    <li>Bed Stuy, Brooklyn, USA</li>
  </ul>
  <h5>2. Van Brunt St in New York</h5>
  <ul>
    <li>This server stewarded by artist and educator Tega Brain.</li>
    <li>Location: Red Hook, Brooklyn, USA</li>
  </ul>
  <h5>3. Hells Gate in Queens 'til I die in New York</h5>
  <ul>
    <li>
      This server stewarded by a designer/technologist/educator and her
      silly family.
    </li>
    <li>Location: Astoria, Queens, USA</li>
  </ul>
</div>
{% endblock %}
