{% extends "base-template.html" %} {% block content %}
<!-- <img class="full-col" src="images/VI-Celestial-Objects-black2.png" /> -->
<img class="full-col" src="images/VI-Celestial-Objects-black2.png" />
</marquee>
<div class="onecol-text">
  <h2>Solar Protocol Program Announcements</h2>
  
  <i>Spring, 2023</i>
  
  <h3>Sun Thinking</h3>

  <p>We are please to announce the first online exhibition, <i>Sun Thinking</i>, to be launched on the Solar Protocol Network in Spring of 2023.</p>

  <b>Exhibition Launch:</b> April 22nd, 12pm-2pm EST. </br>
  <b>Format:</b> Hybrid. Event held in person in New York City and online. Register <a href="https://www.eventbrite.com/e/solar-protocol-exhibition-launch-tickets-600234406267">via eventbrite.</a></br>

  <p><i>Sun Thinking</i> is an online exhibition that brings together artists and writers to explore some of the themes and questions central to the Solar Protocol Project. The exhibition includes some new commissions, as well as experimental projects and texts that critically and playfully explore the qualities and characteristics of solar-power as medium, the materiality of computation, life within planetary limits and environmental perspectives on intelligence. </p>

  <h4>Artists and Contributors:</h4>
  <p>Hakeem Adam, honor ash, Stephanie Dick, Marloes de Valk, Rory Gillen and Anna Madeleine Raupach, Felix Lenz, Mark Anthony Hernández Motaghy, Jen Liu, Kristin Lucas and Joe McKay, Anne Pasek, Allison Parrish, Everest Pipkin, Brian Sutherland, Roopa Vasudevan, Denzel Wamburu and Alice Yuan Zhang. </p>

  <h4>Curatorial Team:</h4>

  <p>Tega Brain, Alex Nathason, Benedetta Piantella and Kate Silzer.</p>

 
  <p><i>Supported by a 2022, Mozilla Creative Media Award.</i></p>
</div>
  
  <img class="full-col" src="images/VI-Celestial-Objects-black1.png" />


  

{% endblock %}
