{% extends "base-template.html" %} {% block content %}
<!-- <img class="full-col" src="images/VI-Celestial-Objects-black2.png" /> -->
<img class="full-col" src="images/VI-Celestial-Objects-black2.png" />
</marquee>
<div class="onecol-text">
  <h2>Solar Spring Commissions</h2>
  
  <p>After a huge response to our open call, we are pleased to announce the first Solar Protocol project commissions. This spring we are able to support new work by Hakeem Adam, Marloes de Valk, Rory Gillen and Anna Madeleine Raupach, Mark Anthony Hernández Motaghy, Jen Liu, Kristin Lucas and Joe McKay, Everest Pipkin, Brian Sutherland, Roopa Vasudevan and Denzel Wamburu. </p>

  <p>These artists and writers will be exploring issues and questions relating to self-hosted networks, the materiality of computation, intermittency and the temporal qualities of solar power. We can't wait to present what emerges in an online exhibition in late Spring.</p>
  

{% endblock %}
