:root {
  --header-width: 25%;
  --nav-width: 5%;
  --content-width: 70%;
  --vertical-padding: 15px;
  --horizontal-padding: 15px;
  --horizontal-text-padding: 30px;
  --vertical-margin: 5px;
  --horizontal-margin: 5px;
  --b: rgb(0, 21, 138);
  --text-size: 1.125rem;
  --line-height: 1.4;
  --bgcolor: #000;
  --textcolor: white;
  --text-background: rgb(230, 230, 230);
  --serverDataLeft: 150px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.meter {
  /* height: 65%;  <em>Can be anything </em> */
  position: relative;
  /* background: rgb1(0,0,0,0.4); */
  border-radius: 3px;
  /* border: solid white 1px; */
  /* padding: 10px; */
  /* box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); */
}
.meter > span {
  display: block;
  /* height: 100%; */
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0px 0px 0px 4px;
  margin-left: -4px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

nav {
  /* background-image: linear-gradient(to right, var(--bgcolor), var(--bgcolor), var(--bgcolor), rgb(167, 166, 166), rgb(46,46,47));
  background-color: var(--bgcolor); */
  /* padding: var(--vertical-padding) var(--horizontal-padding);
  width: 100%; 
  position: sticky;
  top: 0;
  color: var(--textcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid rgb(27, 27, 27); */
  width: var(--nav-width);
  top: 0;
  color: var(--textcolor);
  padding: var(--vertical-padding) var(--horizontal-padding) var(--vertical-padding) 0px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  font-size: var(--text-size);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: fixed;
  z-index: 999;
  right: 0px;
  background-color: black;
  font-size: calc(var(--text-size)*1.2);

}

nav h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: calc(var(--text-size));
}

nav p {
  padding: 0px;
  margin: 0px;

}

.no-bullets li {
  /* margin: 0 5px; */

  display: inline;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  padding-left: 0.05em;
  text-align: end;
  flex: 1 0 40%;
}

nav a {
  color: var(--textcolor);
}
nav a:hover {

  text-decoration: none;
  /* border-top: 1px white solid; */
}
.container {
  /* max-width: calc(var(--header-width) + var(--content-width)); */
  margin: 0px auto;
  display: flex;

  /* margin-top: 50px; */
}

header {
  border-right: 2px solid rgb(27, 27, 27);
  color: var(--textcolor);
  /* background-image: linear-gradient(
    to top,
    var(--b),
    var(--b),
    rgb(100, 100, 100),
    black,
    black
  ); */
  display: var(--text-size);
  width: var(--header-width);
  margin: 0px;
  padding: 0px 0px;
  position: fixed;
  z-index: 9;
  overflow: scroll;
  height: 100vh;
}

header h1{
  font-size: calc(var(--text-size) * 3.2);
}
header p{
font-size: calc(var(--text-size) * 1.2);
line-height: calc(var(--text-size) * 1.3);
}

.row:last-child {
  margin-bottom: 150px;
}

main {
  padding: 0px 0px 0px 0px;
  flex: 1;
  overflow: auto;
  max-height: 100%;
  padding-right: 0px;
  background-color: var(--bgcolor);
  width: var(--content-width);
  margin-left: var(--header-width);
  font-size: calc(var(--text-size)*1.2);
  margin-right: 5%;
  margin-top: 0px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  border-radius: 4px;
}

.onecol-text {
  padding: var(--vertical-padding) calc(var(--horizontal-text-padding) * 12)
    var(--vertical-padding) var(--horizontal-text-padding);
  line-height: 1.3;
  color: black;
  background-color: var(--text-background);
  border-bottom: 0.5px solid rgb(73, 72, 72);
}

.line {
  border-top: 0.5px solid rgb(73, 72, 72);
}

.twocol-text {
  padding: calc(var(--vertical-padding) * 3) var(--horizontal-text-padding);
  line-height: var(--line-height);
  background-color: var(--text-background);
  color: black;
  column-count: 2;
  column-gap: 20px;
  border-top: 0.5px solid rgb(73, 72, 72);
  border-bottom: 0.5px solid rgb(73, 72, 72);
}

.title-text {
  background-color: var(--fgcolor);
  padding: var(--vertical-padding) calc(var(--horizontal-text-padding) * 1);
  color: var(--textcolor);
}

.full-width-image {
  width: 80%;
  display: block;
  margin: auto;
  /* margin-top: 4em; */
  padding-bottom: 4em;
}

header img {
  /* border: 1px solid white; */
  width: 39%;
  float: left;
  margin: 5%;
}

.row {
  /* padding-bottom: 20px; */

  margin-top: 20px;
  padding: 0px var(--horizontal-padding);
}

.row p {
  margin: 0px;
}
.row h5 {
  padding-top: 0px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sub-heading {
  /* font-size: 14px;  */
  /* border-bottom: 1px #0421c4 solid; */
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.sub-heading p {
  font-size: calc(var(--text-size) * 1.2);
  line-height: calc(var(--text-size) * 1.4);
}

ul.serverdata-left {
  font-size: calc(var(--text-size) * 1); /*contolling data text size*/

  list-style-type: none; /* Remove bullets */
  margin: 0; /* Remove margins */
  float: left;
  padding: 0;
  width: var(--serverDataLeft); /*NEED TO CALCULATE WITH VARIABLES*/
  /* padding: 0px var(--horizontal-padding); */
  color: darkgray;
}

ul.serverdata-right {
  font-size: calc(var(--text-size) * 1); /*contolling data text size*/
  font-family: "Arial";
  list-style-type: none; /* Remove bullets */
  text-align: left;
  margin: 0; /* Remove margins */
  float: left;
  /* width:65%;NEED TO CALCULATE WITH VARIABLES */
  width: calc(100% - var(--serverDataLeft));
  padding-left: 10px;
  /* padding: 0px var(--horizontal-padding) var(--vertical-padding) var(--horizontal-padding); */
}

li.server {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 0px 4px 0px 4px;
  margin: 4px 0px 4px 0px;
  
}

li.server-meter {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 0px 0px 0px 0px;
  /* border: rgb(200,200,200) solid 0.5px; */
  margin: 4px 0px 4px 0px;
}

li {
  line-height: 1.5em;
}
.side-box {
  padding: var(--vertical-padding) var(--horizontal-padding)
    var(--vertical-padding) 0px;
  /* background-color: var(--bgcolor); */
  /* border-radius: 4px; */
  font-size: calc(var(--text-size) * 1.2);
  line-height: calc(var(--text-size) * 1.4);
  border-top: 1px solid white;
}

.clr {
  clear: both;
  font-size: 0;
}

.column img {
  width: 100%;
  position: relative;
  float: left;
  left: -100px;
  top: 120px;
  width: 400px;
}

.full-col {
  border-left: 0.5px solid rgb(73, 72, 72);
}

.page-text p:first-child {
  margin-top: 0;
}

img {
  width: 100%;
}

p {
  font-size: calc(var(--text-size)*1.2);
  orphans: 3;
  widows: 3;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {

  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

h1 {
  padding-top: 18px;
}
h1 a {
  color: white;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: calc(var(--text-size) * 1.6);
  padding: 15px 0px 10px 0px;

}

/*Server title*/
h4 {
  font-size: calc(var(--text-size) * 1.2);
  text-transform: none;
  padding: var(--vertical-padding) 0px;
  font-style: oblique;
}

/*Titles in sidebar*/
/*NEED TO MAKE RESPONSIVE*/
h5 {
  font-size: calc(var(--text-size) * 1.2);
  font-style: oblique;
  padding: var(--vertical-padding) 0px;
}

/*Right titles in sidebar*/
h6 {
  padding: var(--vertical-padding) var(--horizontal-padding);
  font-size: 24px;
  font-weight: normal;
}

hr {
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom:  10px;
}

ol {
  margin: 0;
  margin-top: 10px;
}

.top {
  width: 95%;
  margin-bottom: 1px solid var(--textcolor);
}

section {
  border-bottom: 1px solid #000;
  padding-bottom: var(--vertical-padding);
  margin-top: var(--vertical-padding);
}

.caption {
  font-size: calc(var(--text-size)*0.9);
  font-style: oblique;

  padding-bottom: var(--vertical-padding);
}

@media (max-width: 1070px) {
  header h1 {
    font-size: 3em;
  }

  .twocol-text {
    padding: calc(var(--vertical-padding) * 3) var(--horizontal-text-padding);
    line-height: 1.3;
    color: var(--textcolor);
    background-color: var(--bgcolor);
    column-count: 1;
    column-gap: 20px;
    border-top: 0.5px solid rgb(73, 72, 72);
    border-bottom: 0.5px solid rgb(73, 72, 72);
  }

  .onecol-text {
    padding: var(--vertical-padding) calc(var(--horizontal-text-padding) * 1)
      var(--vertical-padding) var(--horizontal-text-padding);
  }

  ul.serverdata-left {
    width: calc(
      var(--serverDataLeft) / 2
    ); /* NEED TO CALCULATE WITH VARIABLES */
  }
  ul.serverdata-right {
    width: calc(100% - var(--serverDataLeft) / 2);
    min-width: 55px;
  }
  li.server{
    background-color: rgb(40, 40,40);
  }

  .meter > span {
    white-space: normal;
    border: solid 0.5px rgb(40, 40,40);
    background-color: rgb(10, 10,10);
  }

}

@media (max-width: 650px) {
  header {
    position: static;
    width: 100%;
    height: auto;
    overflow: auto;
    padding-right: var(--nav-width);
  }

  .sub-heading h1{
    font-size: 3em;
  }

  .row:last-child {
    margin-bottom: 20px;
  }

  main {
    margin: 0;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
  }

  nav {
    width: calc(var(--nav-width) * 1.5);
    padding: var(--vertical-padding) calc(var(--horizontal-padding)*2) var(--vertical-padding) var(--horizontal-padding);

  }

  .container {
    flex-direction: column;
  }

  .twocol-text {
    column-count: 1;
  }
  ul.serverdata-left {
    width: var(--serverDataLeft); /* NEED TO CALCULATE WITH VARIABLES */
  }
  ul.serverdata-right {
    width: calc(100% - var(--serverDataLeft));
    min-width: 55px;
  }
  li.server{
    background-color: rgb(40, 40,40);
  }

  .meter > span {
    white-space: normal;
    border: solid 0.5px rgb(40, 40,40);
    background-color: rgb(10, 10,10);
  }
}
