{% if batteryPercentage >= 50 %}
  {% extends "base-template.html" %}
{% else %}
  {% extends "base-template-small.html" %}
{% endif %}

{% block content %}
  <div class="onecol-text">
    <h3>System Documentation</h3>
    <h4>Hardware: What is a solar server?</h4>
  {% if batteryPercentage >= 50 %}
    <img class="full-col" src="images/hardware.gif" />
  {% else %}
  {% endif %}
    <p>
      Each solar server is composed of two main components: a 50W 
      photovoltaic panel (PV) for harnessing the sun and a weatherized enclosure 
      containing all the server equipment. The hardware inside the enclosure includes 
      an MPPT charge controller that translates the power of the sun into electrical charge for the 12V battery which, when successfully charged, wakes up and brings online the RaspberryPi single-board computer hosting the local web content. The hardware also includes in-line fuses and in-line circuit breakers to protect each component of the circuit, and the NEMA-rated enclosure is retrofitted with rugged vents and glands to withstand a wide range of 
      temperatures and different kinds of environments. 
    </p>
    <h4>Software</h4>
    <p>
      The networking and network API is built in PHP. Each RaspberryPi generates 
      this static site using Jinja templating in Python, and serves it using an Apache server. 
      No Javascript is used on the frontend. All visualizations are generated server-side 
      using python libraries such as MatPlotLib. Where possible, the computation required 
      to generate visual components of this site is done server side rather than in the 
      browser. This is because we know that these computational cycles are powered by solar 
      rather. This design approach minimizes the energy consumption for the user who is likely to be using fossil energy.  
    </p>
    <p>
      <ul>
      <li>Code is still in development. This work is open-source and <a href="https://github.com/alexnathanson/solar-protocol">shared on Github.</a></li>
      <li>Stewards: <a href="/admin/">Login to an admin panel </a> to view your server data.</li>
      </ul>
    </p>
  </div>
{% endblock %}
