body {
    background-color: black;
    color: white
}

p {
    font-size: large;
    font-family: monospace;
    width: 50%;
}

h1 {
    font-family: monospace;
}

h2{
    font-family: monospace;
}

h3{
    font-family: monospace;
}

img {
    height: auto;
    max-width: 50%;
  }

table, th, td {
    border:2px solid;
    border-collapse: collapse;
    padding: 5px;
}

/* tr:hover {background-color: red;} */

#decay {
    color: red;
    border-color: white;
}

