[Unit]
Description = Solar Protocol
Requires = multi-user.target
After = multi-user.target network.target
Requires = solar-protocol-datalogger.service
Requires = solar-protocol-backend.service
AllowIsolate = yes

[Install]
WantedBy = multi-user.target
