name: Build Raspberry Pi Image

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout solar protocol
      uses: actions/checkout@v4

    - name: install build dependencies
      run: |
        sudo apt update
        sudo apt install -y qemu-user-static
        sudo apt install -y openssl

    - name: build image
      id: build
      run: |
        cd utilities/pi-gen
        bash build-image.sh
        echo "version=1.1-${GITHUB_SHA::6}.img.xz" >> $GITHUB_OUTPUTS

    - name: create checksum
      run: |
        cd deploy
        export image_filename=$(ls *-img.xz)
        sha256sum ${image_filename} > ${image_filename}.sha256sum

    - name: upload image
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.build.outputs.version }}
        path: |
          deploy/*.img.xz
          deploy/*.img.xz.sha256sum
        compression-level: 0

    - name: create release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v${{ steps.build.outputs.version }}
        files: |
          deploy/*.img.xz
          deploy/*.img.xz.sha256sum
        generate_release_notes: true
