name: Build Raspberry Pi Image

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout pi-gen
      uses: actions/checkout@v4
      with:
        repository: 'RPi-Distro/pi-gen'

    - name: checkout solar protocol
      uses: actions/checkout@v4
      with:
        path: 'solar-protocol'

    - name: install build dependencies
      run: |
        sudo apt update
        sudo apt install -y < depends
        sudo apt install -y qemu-user-static
        sudo apt install -y openssl

    - name: generate pi-gen config
      id: config
      run: |
        cp -r solar-protocol/utilities/pi-gen/stage-solar .
        GITHUB_SHA_SHORT=${GITHUB_SHA::6}
        VERSION=0.1.1-${GITHUB_SHA_SHORT}
        IMG_DATE=$(date +%Y-%m-%d)
        IMG_NAME=solar-protocol-${GITHUB_SHA_SHORT}
        TIMEZONE_DEFAULT="America/New_York"
        ARCHIVE_FILENAME=${IMG_DATE}-${IMG_NAME}
        AUTHORIZED_KEYS_FILE=solar-protocol/utilities/authorized_keys
        PUBKEY_SSH_FIRST_USER="$(<$AUTHORIZED_KEYS_FILE)"
        FIRST_USER_PASS=$(openssl rand -hex 16)
        export TIMEZONE_DEFAULT FIRST_USER_PASS PUBKEY_SSH_FIRST_USER IMG_DATE IMG_NAME ARCHIVE_FILENAME
        envsubst < stage-solar/config.template > config
        echo "archive_filename=$ARCHIVE_FILENAME" >> $GITHUB_OUTPUT
        echo "version=$VERSION" >> $GITHUB_OUTPUT
        AUTHORIZED_USERS=$(echo "$PUBKEY_SSH_FIRST_USER" | cut -d ' ' -f3 | cut -d '@' -f1 | sort -u | paste -s -d ',' -)
        echo installing keys for ${AUTHORIZED_USERS} >> $GITHUB_STEP_SUMMARY

    - name: build image
      run: ./build-docker.sh

    - name: upload image
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.config.outputs.archive_filename }}
        path: |
          deploy/${{ steps.config.outputs.archive_filename }}.img.xz
          deploy/build.log
        compression-level: 0

    - name: create release
      uses: softprops/action-gh-release@v2
      with:
          tag_name: v${{ steps.config.outputs.version }}
          files: |
            ${{ steps.config.outputs.archive_filename }}.img.xz
            deploy/build.log
          generate_release_notes: true
